<div class="Dashboard">
    <div class="Dashboard__Board--flow">
    <div class="row text-center">
          <h2>{{title}}</h2>
    </div>
    <div class="container-fluid">
      <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()">
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
              <input type="text" name="name" placeholder="*Nombre" class="form-control"  formControlName="name"  maxlength="100" required>
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
              <textarea rows="6" name="clave" placeholder="*Descripccion" class="form-control"  formControlName="description" maxlength="300" required> </textarea> 
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
              <select class="form-control"  formControlName="status" name="status" required>
                  <option value="" selected="true">*[Selecciona Estatus]</option>
                  <option value="true">Activo</option>
                  <option value="false">Inactivo</option>
              </select>
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6 text-center">
              <input type="submit" class="btn btn-success" value="Guardar">
              <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
      </form>
    </div>
    </div>
  </div>
