<div class="Dashboard">
  <!--<div class="Dashboard__Header z-depth-2">
    <div class="Dashboard__Header--img">
      <figure class="figure">
        <img src="src/assets/img/gotestingbco.png" alt="www.gotesting.com">
      </figure>
    </div>
    <div class="Dashboard__Header--actions">
        <div class="pull-right">
          <div class="Dashboard__Header--msg">
            <h3>¡Welcome {{userName}}!</h3>
            <a class="btn btn-purple btn-lg" role="button" (click)="logout()">Logout</a>
          </div>
        </div>
    </div>
  </div>
  <div class="Dashboard__Board">
    <div class="Dashboard__Board--menu">
      <div class="Dashboard__Board--profile">
        <figure class="figure">
          <img src="src/assets/img/admin.jpg" alt="www.gotesting.com" width="150" height="150">
        </figure>
        <p class="text">{{ userName }}</p>
        <p class="text thin">{{userRole}}</p>
      </div>
      <h4>
        Navigation
      </h4>
      <ul>
        <li>
          <a [routerLink]="['/administrator']">
            <i class="material-icons">home</i> Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/administrator/test']">
            <i class="material-icons">assignment</i> Test
          </a>
        </li>
        <li>
          <a [routerLink]="['/administrator/capacitation']">
            <i class="material-icons">lightbulb_outline</i> Capacitation
          </a>
        </li>
        <li>
          <a [routerLink]="['/administrator/certification']">
            <i class="material-icons">grade</i> Certification
          </a>
        </li>
        <li>
          <a [routerLink]="['/administrator/task']">
            <i class="material-icons">list</i> Tasks
          </a>
        </li>
        <li>
          <a class="active" [routerLink]="['/administrator/subscription']">
            <i class="material-icons">payment</i> Subscription
          </a>
        </li>
        <li>
          <a [routerLink]="['/administrator/plans']">
            <i class="material-icons">today</i> Plans
          </a>
        </li>
        <li>
          <a [routerLink]="['/administrator/settings']">
            <i class="material-icons">settings</i> Settings</a>
        </li>
      </ul>
    </div>-->
    <div class="Dashboard__Board--flow">
      <div class="container-fluid">
        <h1>{{title}}</h1>
      </div>
    </div>
  </div>