<div class="Tester">
  <div class="Tester__workflow">
    <div class="container">

      <div class="Tester__board padding-row">
        <div class="col-xs-12 col-lg-12 margin-bottom">
            <ol class="breadcrumb">
                <li><a href="#/tester/home/">Inicio</a></li>
                <li class="active">Cursos</li>
            </ol>
        </div>
        <div class="col-xs-12 col-lg-12 margin-bottom">
          <h2 class="title">
            {{viewTitle}}
          </h2>
        </div>

        <div class="col-xs-12 col-lg-12 margin-bottom">
          <div class="pull-left">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Gratis
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Paga
            </label>
            <form [formGroup]="searchCourseForm" class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" id="txt__Search" placeholder="Buscar curso..." formControlName="courseName">
              </div>
              <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="pull-right">
            <a href="#/tester/courses/{{username}}" class="btn btn-primary">Mis cursos</a>
          </div>
        </div>

        <div class="col-xs-12 col-lg-12">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-bottom" *ngFor="let course of courses" >
            <div class="Card lg gray">
              <div class="Card--img">
                <img src="{{course.cover}}" alt="{{course.name}}">
              </div>
              <div class="Card--content">
                <h3 class="course-title">{{course.name}}</h3>
                <p class="course-description">{{course.description}}</p>
              </div>
              <div class="Card--actions">
                <a href="#/tester/courses/detail/{{course.id}}" class="btn btn-success btn-sell"><i class="fa fa-eye"></i> Ver detalle</a>
                <button class="btn btn-info btn-sell" title="Obtener curso" (click)="getCourse(course)">Obtener curso {{ course.price | currency:'MXN':true}}</button>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>