<div class="Dashboard">
    <div class="Dashboard__Board--flow">
        <div class="container-fluid">
            <div class="row text-center">
              <h2>{{title}}</h2>
            </div>
          <div class="row set-top-margin">
            <div class="col-xs-6 col-sm-3 text-center" >
                <a [routerLink]="['create']"><input type="button" name="" value="Crear Curso" class="btn btn-success btn-lg"></a>
            </div>
            <div class="col-xs-6 col-sm-3"></div>
          </div>
          <div class="row set-top-margin">
            <div class="container-fluid">
                <div class="row titles-prop">
                    <div class="col-xs-2 col-sm-2 text-center">Nombre curso</div>
                    <div class="col-xs-2 col-sm-2 text-center">Fecha inicio</div>
                    <div class="col-xs-2 col-sm-2 text-center">Fecha fin</div>
                    <div class="col-xs-2 col-sm-1 text-center">Plataforma</div>
                    <div class="col-xs-2 col-sm-1 text-center">Nivel</div>
                    <div class="col-xs-2 col-sm-2 text-center">Costo</div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-2 col-sm-2 text-center">Acciones</div>
                </div>
                  <div class="row">
                   <div class="col-xs-2 col-sm-2 text-center">Testing Android</div>
                    <div class="col-xs-2 col-sm-2 text-center">14/07/2016</div>
                    <div class="col-xs-2 col-sm-2 text-center">15/07/2016</div>
                    <div class="col-xs-2 col-sm-1 text-center">Todas</div>
                    <div class="col-xs-2 col-sm-1 text-center">Junior</div>
                    <div class="col-xs-2 col-sm-2 text-center">6,000</div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-2 col-sm-2 text-center">
                       <a [routerLink]="['edit']"><i class="material-icons icon-size" >mode_edit</i></a>
                        <a href="" (click)="showDialog()"><i class="material-icons icon-size">delete</i></a>
                    </div>
                </div>
            </div>
          </div>  
      </div>  
       <div class="modal fade" tabindex="-1" role="dialog" id="modal-delete">
          <div class="modal-dialog" role="document" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
              </div>
              <div class="modal-body">
                <p>One fine body&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> 
    </div>
  </div>

