//FONTS
$fo_roboto 	= 'Roboto Condensed', sans-serif
$fo_sans 	= 'Open Sans', sans-serif
//COLORS
$co_main_purple = #672f75 //Originalidad
$co_main_green 	= #58b947 //Tecnología
$co_main_orange = #fcb647 //Dinamismo
$co_main_mint 	= #b1d78e //Simplicidad
$co_main_blue 	= #262163 //Inteligencia
$co_white		= #fff
$co_light_gray 	= #f5f6f6
$co_black 		= #000
$co_yellow 		= #f0ad4e
$co_sky_blue 	= #5bc0de
//MAIN BODY CONFIG
body
	font-family $fo_sans
	font-size 16px
	background-color $co_white
figure
	margin 0
	padding 0
//OOCSS COLORS
.cm-purple
	background-color $co_main_purple
.cm-green
	background-color $co_main_green
.cm-blue
	background-color $co_sky_blue
//OOCSS
.capitalize
	text-transform capitalize
.center-text
	text-align center
.title
	font-family $fo_roboto
.margin-bottom
	margin-bottom 15px
.padding-row
	padding 35px 0px
.padding-row-top
	padding-top 55px
.uppercase
	text-transform uppercase
.white-text
	color $co_white