.btn
	border-radius 0px
	&.btn-blue
		background-color $co_sky_blue
		border 1px solid $co_main_blue
	
/*
 *	INPUT GROUPS
 *	==================
 */
input[type="text"]
	background-color rgba($co_white, 0.4)
	border none
	border-radius 0px
	height 40px
	&:focus
	&:active
		box-shadow none
		outline none
.input-group
	input[type="text"]
		background-color rgba($co_white, 0.4)
		border none
		border-radius 0px
		height 40px
		&:focus
		&:active
			box-shadow none
			outline none
	button[type="button"]
		background-color rgba($co_white, 0.4)
		border none
		border-radius 0px
		height 40px
		&:focus
		&:active
			box-shadow none
			outline none
			