.Footer
	background $co_main_blue url('../img/figures.png') no-repeat
	background-position center bottom
	background-attachment fixed
	max-width 100%
	width 100%
	&--block
		height auto
		max-width 100%
		width 100%
	&--title
		color $co_main_green
		padding 10px 10px 10px 0px
		h4
			margin 0
			padding 0
	&--list
		list-style none
		margin 0
		padding 0
		li
			display inline-block
			margin-bottom 5px
			a
				color $co_white
				&:hover
					color $co_light_gray