.HeaderActions
	background-color $co_light_gray
	width 100%
	max-width 100%
.Header
	background $co_white
	height 70px
	line-height 70px
	width 100%
	max-width 100%
	nav
		line-height 70px
		&.navbar
			border none
			min-height 70px
			line-height 70px
		&.navbar-default
			background-color white
.navbar-nav
	background-color $co_white
	margin 15.5px -15px
	position relative
	z-index 999
	li
		a
			padding-top 25px
.navbar-collapse
	border none

@media screen and (min-width: 992px)
	.Header
		background $co_white
		height 70px
		line-height 70px
		width 100%
		max-width 100%
		nav
			line-height 70px
			&.navbar
				border none
				min-height 70px
				line-height 70px
			&.navbar-default
				background-color transparent
	.navbar-nav
		margin 5.5px -15px