.Slider
	background-image url('../img/header_bg.jpg')
	background-repeat no-repeat
	background-size cover
	background-position 0px 0px
	height 600px
	position relative
	max-width 100%
	width 100%
	&--title
		background rgba($co_black, 0.4)
		bottom 0
		height 300px
		position absolute
		width 100%
		h1
			border-top 2px solid $co_white
			color $co_white
			font-size 3.3em
			text-transform uppercase
			padding-top 25px
			position relative
			vertical-align middle
			
@media screen and (min-width: 992px)
	.Slider
		background-position 0 -300px