.Step
	max-width 100%
	position relative
	width 100%
	&--block
		background-color $co_main_mint
		height 400px
		max-width 100%
		overflow hidden
		position relative
		width 100%
		img
			height 400px
			max-width 100%
			width 100%
	&--badge
		left 0px
		padding 10px
		position absolute
		top 0px
		h3
			margin 0
			padding 0
	&--block__footer
		background-color rgba($co_black, 0.5)
		bottom 0px
		max-width 100%
		padding 25px
		position absolute
		width 100%
		h4
		h5
			color $co_white
			margin .25em 0px