<div class="modal fade" id="modal-password" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title text-warning">Oops!</h1>
      </div>
      <div class="modal-body">
        <form role="form" (submit)="resetPassword($event, email.value)">
            <div class="form-group">
                <label for="txt__Email">Reset your password</label>
                <input type="email" class="form-control" #email id="txt__Email" placeholder="Enter your email" required>
            </div>
            <p class="help-block text-center">
                We will send you an email with your new password.
            </p>
            <p>
                <button type="submit" class="btn btn-warning btn-lg btn-block uppercase">
                    Send
                </button>
            </p>
        </form>
      </div>
      <div class="modal-footer"> </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->