<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
	          <h2>{{title}}</h2>
	    </div>
	    <div class="container-fluid">
	    	<form [formGroup]="examForm" (ngSubmit)="examCreate()">
			
				<div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
		            <div class="row set-top-row">
		                <input type="text" name="name" placeholder="*Nombre" class="form-control" id="exam-name" formControlName="name" required maxlength="100">
		            </div>
		            <div class="row set-top-row">
		                <textarea class="form-control" formControlName="description" name="description" placeholder="Descripción"></textarea>
		            </div>
		            <div class="row set-top-row">
		                <input type="date" name="date_start" placeholder="Fecha Inicio" class="form-control" id="exam-date_start" formControlName="date_start" required maxlength="100">
		            </div>
		            <div class="row set-top-row">
		                <input type="date" name="date_end" placeholder="Cierre exámen" class="form-control" id="exam-date_end" formControlName="date_end" required maxlength="100">
		            </div>
	            	<div class="row set-top-row">
		                <input type="text" name="time" placeholder="Tiempo Límite" class="form-control" id="exam-time" formControlName="time" required maxlength="100">
	            	</div>
            		<div class="row set-top-row">
            			<select name="attemps" class="form-control" id="exam-attemps" formControlName="attemps" >
            				<option value="">Sin limite</option>
            				<option value="1">1</option>
            				<option value="2">2</option>
            				<option value="3">3</option>
            			</select>
                	</div>
		            <div class="row set-top-row">
		                <input type="text" name="score" placeholder="Puntuación por defecto" class="form-control" id="exam-score" formControlName="score" required maxlength="100">
		            </div>

		            <div class="row set-top-row text-center">
		                <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
		                <input type="submit" class="btn btn-success" value="Guardar">
					</div>

		        	<div class="row set-top-row">
		                <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-danger"> 
		              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                	<strong class="uppercase"> {{msg}} </strong>
		              	</div>
		           	</div>

	        		<div class="row set-top-row">
	                	<div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-success">
		              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		              		<strong class="uppercase"> {{msg}} </strong>
		            	</div>
	             	</div>
             	</div>
      		</form>
    	</div>
    </div>
</div>
