<div class="Tester">
  <div class="Tester__workflow">
    <div class="container">

      <div class="Tester__board padding-row">
          <div class="col-xs-12 col-lg-12 margin-bottom">
            <ol class="breadcrumb">
                <li><a href="#/tester/home/">Inicio</a></li>
                <li><a href="#/tester/courses/">Cursos</a></li>
                <li class="active">Mis cursos</li>
            </ol>
        </div>
        <div class="col-xs-12 col-lg-12 margin-bottom">
          <h2 class="title">
            Mis cursos
          </h2>
        </div>

        <div class="col-xs-12 col-lg-12">
          
          <div *ngIf="emptyCourses" class="col-xs-12 col-lg-12">
            <div class="alert alert-warning box-msg " role="alert">
                <strong><i class="fa fa-warning"></i></strong> Aún no cuentas con algún curso, agrega uno y crece tu conocimiento profesional <strong><a href="#/tester/courses/">Ver cursos</a></strong>.
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-bottom" *ngFor="let course of courses">
            <div class="Card lg gray">
              <div class="Card--img">
                <img src="/assets/img/tester/capacitation.jpg" alt="">
              </div>
              <div class="Card--content">
                <h3 class="course-title">{{course.name}}</h3>
                <p class="course-description">{{course.description}}</p>
              </div>
              <div class="Card--actions">
                <a href="#/tester/courses/detail/{{course.id}}" class="btn btn-success btn-sell"><i class="fa fa-eye"></i> Ver detalle</a>
                <button data-course-id="course.id" class="btn btn-info btn-sell" title="Agregar al carrito"><i class="fa fa-shopping-cart"></i> {{ course.price | currency:'MXN':true}}</button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>