<div class="Dashboard">
    <div class="Dashboard__Board--flow">
      <div class="container-fluid">
       <div class="row text-center">
              <h2>{{title}}</h2>
            </div>
          <div class="row set-top-margin">
            <div class="container-fluid">
                <div class="panel panel-default">
                  <!-- Table -->
                    <table class="table" id="data-table">
                        <tr class="titles-prop">
                          <th>Título</th>
                          <th>Fecha de actualización</th>
                          <th>Acciones</th>
                        </tr>
                        <tr *ngFor="let agreement of agreements; let i=index">
                          <td>{{agreement.title}}</td>
                          <td>{{agreement.updatedAt | dateHour}}</td>
                          <td> 
                              <a [routerLink]="['edit/',agreement.id]"><i class="material-icons icon-size">mode_edit</i></a>    
                          </td>
                        </tr>
                    </table>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>