<div class="Tester">
  <div class="Tester__workflow">
    <div class="container">
      <div class="Tester__board padding-row">
        <div class="col-xs-12 col-lg-12 margin-bottom">
            <ol class="breadcrumb">
                <li><a href="#/tester/home/">Inicio</a></li>
                <li class="active">Perfil</li>
            </ol>
        </div>
        <div class="col-xs-12 col-lg-12 margin-bottom">
          <h2 class="title">
            {{viewTitle}}
          </h2>
        </div>
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Información personal</a>
            </li>
            <li role="presentation">
              <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Restablecer contraseña</a>
            </li>
            <li role="presentation">
              <a href="#id-oficial" aria-controls="id-oficial" role="tab" data-toggle="tab">ID Oficial</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content padding-row">

            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="row"> 
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                  <div class="form-group">
                    <input id="upload-avatar" (change)="uploadImage($event)" type="file">
                  </div>
                  <div class="form-group">
                    <div class="avatar-preview">
                      <img src="{{testerAvatar}}" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                    <div class="form-group">
                      <label for="txt__Email">Correo</label> <br>
                      <label for="txt__Email">{{testerEmail}}</label>
                      <!--<input type="email" class="form-control" id="txt__OldPassword" placeholder="*Correo electrónico" formControlName="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" disabled>-->
                    </div>
                    <div class="form-group">
                      <label for="txt__Name">Nombre</label>
                      <input type="text" class="form-control" id="txt__Name" placeholder="Nombre" formControlName="name" >
                    </div>
                    <div class="form-group">
                      <label for="txt__lastName">Apellido Paterno</label>
                      <input type="text" class="form-control" id="txt__lastName" placeholder="Apellido paterno" formControlName="lastname" >
                    </div>
                    <div class="form-group">
                      <label for="txt__MaidenName">Apellido Materno</label>
                      <input type="text" class="form-control" id="txt__MaidenName" placeholder="Apellido materno" formControlName="maidenName" >
                    </div>
                    <div class="form-group">
                      <label for="txt__Phone">Teléfono</label>
                      <input type="tel" class="form-control" id="txt__Phone" placeholder="Teléfono" formControlName="phone" >
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary pull-right">Guardar cambios</button>
                  </form>
                </div>
              </div>     
            </div> <!-- END PROFILE DATA PANEL-->

              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                      <form [formGroup]="passForm" (ngSubmit)="resetPass()">
                        <div class="form-group">
                          <label for="txt__OldPassword">Contraseña actual</label>
                          <input type="password" class="form-control" id="txt__OldPassword" placeholder="Actual contraseña" formControlName="oldpass" required>
                        </div>
                        <div class="form-group">
                          <label for="txt__NewPassword">Nueva contraseña</label>
                          <input type="password" class="form-control" id="txt__NewPassword" placeholder="Nueva contraseña" formControlName="pass" required>
                        </div>
                        <div class="form-group">
                          <label for="txt__ConfirmPassword">Confirmar nueva contraseña</label>
                          <input type="password" class="form-control" id="txt__ConfirmPassword" placeholder="Confirmar nueva contraseña" formControlName="passSnd" required>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary pull-right">Guardar cambios</button>
                      </form>
                  </div>
                </div>
              </div> <!-- END PASSWORD PANEL-->

              <div role="tabpanel" class="tab-pane" id="id-oficial">   
                  <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                      <div class="form-group">
                        <input id="upload-id" (change)="uploadId($event)" type="file">
                      </div>
                      <div class="form-group">
                        <div class="id-preview">
                          <img src="{{idImage}}" alt="">
                        </div>
                      </div>
                    </div>
                  </div> 
              </div><!-- END ID PANEL--> 
              
            </div>
         </div>
      </div>
    </div>
  </div>
</div>