body{
    background-color: #f5f6f6;
}
.align-hor{
	display: flex;
}
.center-content{
	display: flex;
	justify-content: center;
} 

#upload-avatar,
#upload-id{
	display: block !important;
}

.avatar-preview{
	height: 200px;
	text-align: center;
	width: 100%;
}
.avatar-preview img{
	height: 200px;
	width: 200px;
}

.id-preview{
	height: 450px;
	text-align: center;
	overflow: hidden;
	width: 100%;
}
.id-previe img{
	height: 450px;
	width: 400px;
}