<div class="Dashboard">
    <div class="Dashboard__Board--flow">
    <div class="row text-center">
          <h2>{{title}}</h2>
    </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 col-sm-6"> 
              <div class="container-fluid">
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <input type="text" name="" placeholder="*Nombre de curso" class="form-control">
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <textarea class="form-control text-area-prop" placeholder="*Descripción"></textarea>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                   <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <label>Fecha inicio</label>
                        <input type="date" name="" placeholder="" class="form-control">
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <label>Fecha Fin</label>
                        <input type="date" name="" placeholder="" class="form-control">
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <select class="form-control">
                            <option value="" selected="true">Categoría</option>
                            <option value="pc">PC</option>
                            <option value="movil">Móvil</option>
                            <option value="tablet">Tablet</option>
                        </select>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <select class="form-control">
                            <option value="" selected="true">Plataforma</option>
                            <option value="ios">IOS</option>
                            <option value="android">Android</option>
                            <option value="WP">Windows Phone</option>
                        </select>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <select class="form-control">
                            <option value="" selected="true">Versión</option>
                            <option value="4">4.0</option>
                            <option value="5">5.1</option>
                            <option value="6">6.0</option>
                        </select>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>

                 
                      <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                          <label>*Nivel</label>
                          <div class="row">
                              <div class="col-xs-6 col-sm-6">
                                 <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Beginner
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Junior
                                  </label>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6">
                                 <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Medium
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Full Medium
                                  </label>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
              </div>
          </div>
          <div class="col-xs-6 col-sm-6">
             <div class="container-fluid">
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <select class="form-control">
                            <option value="" selected="true">*Lecciones</option>
                            <option value="4">Introduccion</option>
                            <option value="5">Ejecucion</option>
                            <option value="6">Casos</option>
                        </select>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                      <div class="row ">
                        <label>Contenido</label>
                      </div>
                      <div class="row align-hor">
                          <i class="material-icons icon-size" >attach_file</i><input id="upload-file" type="file"/>
                      <a id="fileupload" (click)="uploadFile()" >Añadir archivo</a>
                      </div>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                        <label>URL del video</label>
                        <input type="text" name="" placeholder="URL del video" class="form-control">
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>
                  <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9">
                         <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="..."></iframe> <!--src="https://www.youtube.com/embed/aGCdLKXNF3w"-->
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div> 
                   <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9 ">
                          <div class="row">
                              <i class="material-icons icon-size" >note_add</i> <a id="fileupload" (click)="uploadFile()" >Añadir otro URL</a>
                          </div>
                          <div class="row set-padding-left">
                             <i class="material-icons icon-size">do_not_disturb_on</i> <a >Otro URL</a>

                          </div>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>    
                    <div class="row set-top-row">
                      <div class="col-xs-2 col-sm-1"></div>
                      <div class="col-xs-9 col-sm-9 ">
                      <div class="row">
                          <i class="material-icons icon-size" >monetization_on</i> <label>*Costo</label>
                      </div>
                      <div class="row">
                         <div class="checkbox">
                            <label>
                              <input type="checkbox"> Gratuito
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Otro
                            </label>
                          </div>
                      </div>
                      <div class="row">
                          <label>Costo</label><input type="text" name="" class="form-control" placeholder="Costo">
                      </div>
                      </div>
                      <div class="col-xs-1 col-sm-2"></div>
                  </div>     
             </div>
          </div>
        </div>
        <div class="row text-center">
              <div class="col-xs-2 col-sm-1"></div>
              <div class="col-xs-9 col-sm-9 ">
                  <input type="button" name="" value="Crear" class="btn btn-create-purple">
              </div>
              <div class="col-xs-1 col-sm-2"></div>
        </div>
      </div>
    </div>
  </div>
