.set-top-margin{
	margin-top: 4em;
}
.titles-prop{
	background-color: #8d7bc9;
    color: white;
}
h2{
	margin: 0;
}
.set-top-row{
    margin-top: 1em;
}
.text-area-prop{
	height: 30vh;
}
.align-hor{
	display: flex;
}
.set-padding-left{
	padding-left: 1em;
}    
#upload-file{
    display: none;
}​
.btn-create-purple{
	width: 15vw !important;
    background-color: purple !important;
    color: white !important;
}
.btn{
	width: 15vw !important;
    background-color: #652d79 !important;
    color: white !important;
}