<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
	          <h2>{{title}}</h2>
	    </div>					      		
      	<div class="container-fluid">
      		<form [formGroup]="courseForm" (ngSubmit)="onUpdate()">
        		<div class="row">
         		 	<div class="col-xs-5 col-sm-offset-1">
         		 		<div class="row set-top-row">
         		 			<div class="col-xs-10">
         		 				<input type="text" name="name" placeholder="*Nombre de curso" class="form-control" formControlName="name" pattern="[a-zA-Z0-9 ]+" maxlength="100" required>
         		 			</div>
         		 		</div>
         		 		<div class="row set-top-row">
         		 			<div class="col-xs-10">
         		 				<label>Portada</label><br>
         		 				<input type="file" accept="image/*" (change)="onLoadImage($event)">
         		 			</div>
         		 		</div>
                  		<div class="row set-top-row">
                      		<div class="col-xs-10">
                        		<textarea class="form-control text-area-prop" placeholder="*Descripción" formControlName="description" pattern="[a-zA-Z0-9 ]+" maxlength="300" required></textarea>
                      		</div>
                  		</div>
                   		<div class="row set-top-row">
                      		<div class="col-xs-10">
                        		<label>Fecha inicio</label>
                        		<input type="date" class="form-control" formControlName="start_date" required>
                        		<!--<p-calendar dateFormat="yy-mm-dd" [readonlyInput]="true" [showIcon]="true" formControlName="start_date" required></p-calendar>-->
                      		</div>
                  		</div>
                  		<div class="row set-top-row">
                      		<div class="col-xs-10">
                        		<label>Fecha Fin</label>
                        		<input type="date" class="form-control" formControlName="end_date" required>
                      		</div>
                  		</div>
                  		<div class="row set-top-row">
                      		<div class="col-xs-10">
		                        <select class="form-control" formControlName="platform_id" required>
		                            <option value="" selected="true">Selecciona una plataforma</option>
		                            <option value="{{platform.id}}" *ngFor="let platform of platforms; let i = index">{{platform.name}}</option>
		                        </select>
                      		</div>
                  		</div>
                		<div class="row set-top-row">
                      		<div class="col-xs-10">
                          		<input type="text" value="" selected="true" placeholder="Versión" class="form-control" formControlName="version">
                      		</div>
                  		</div>
          			</div>

          			<div class="col-xs-5">
                  		<div class="row set-top-row">
                      		<div class="col-xs-10">
	                          	<select class="form-control" formControlName="levels_id" required>
				                    <option value="" selected="true">Selecciona un nivel</option>
				                    <option value="{{ level.id }}" *ngFor="let level of levels; let i = index">	{{ level.name }}</option>
				                </select>
                      		</div>  
              			</div>
						<div class="row set-top-row">
							<div class="col-xs-6">
								<label>*Lecciones</label>
							</div>
							<div class="col-xs-4">
	                            <input (click)="openModal()" class="btn btn-create-purple"  type="button" name="newLesson" value="Nueva leccion">
							</div>
						</div>
						<div class="row set-top-row">
							<div class="col-xs-10" [formGroup]="autocompleteForm">
								<p-autoComplete [(ngModel)]="autoc" [suggestions]="filteredLessons" (completeMethod)="autocompleteLesson($event)" [minLength]="1" placeholder="Lecciones" field="name" [multiple]="true" formControlName="autocomplete" class="form-control autoheight"></p-autoComplete>
							</div>
						</div>
                  		<div class="row set-top-row">
                      		<div class="col-xs-10">
                      			<i class="material-icons icon-size">monetization_on</i>  <label>*Costo</label>
                  			</div>
                		</div>
                		<div class="row set-top-row">
                      		<div class="col-xs-5">
                            	<label>
                              		<input type="radio" name="price" (click)="price = 0" id="free" checked> Gratuito
                            	</label>
                          	</div>
                          	<div class="col-xs-5">
                            	<label>
                              		<input type="radio" name="price" (click)="price = null" id="notfree"> Otro
                            	</label>
                          	</div>
                          	<div class="col-xs-10">
                         		<input type="text" [(ngModel)]="price" class="form-control" placeholder="Ingresa el costo" *ngIf="price != 0" formControlName="price" >
                      		</div>
                		</div>
                		<div class="row set-top-row">
                      		<div class="col-xs-10">
		                		<select class="form-control" id="device-status" formControlName="status" name="status" required>
				                   	<option value="" selected="true">*[Selecciona Estatus]</option>
				                   	<option value="true">Activo</option>
				               		<option value="false">Inactivo</option>
				                </select>
				            </div>
				        </div>
          			</div>
        		</div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3 text-center">
	                    <input type="submit" class="btn btn-success" value="Guardar">
	                    <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
	                </div>
	            </div>
      		</form>
      	</div>
    </div>
</div>