<div class="Tester">
  <div class="Tester__workflow">
    <div class="container">
      <div class="Tester__board padding-row">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Información personal</a>
            </li>
            <li role="presentation">
              <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Restablecer contraseña</a>
            </li>
            <li role="presentation">
              <a href="#id-oficial" aria-controls="id-oficial" role="tab" data-toggle="tab">ID Oficial</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content padding-row">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="center-content">
           
                      <div class="picture-size">
                        <div>
                            <input id="upload-image" type="file"/> 
                            <a id="fileupload" (click)="uploadImage()" ><i class="material-icons">camera_enhance</i></a>
                        </div>
                      </div>
              
              </div>
               <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">       
                 <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                 <div class="form-group">
                  <input type="text" class="form-control" id="txt__OldPassword" placeholder="Nombre" formControlName="name" >
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="txt__OldPassword" placeholder="Apellido paterno" formControlName="lastname" >
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="txt__OldPassword" placeholder="Apellido materno" formControlName="maidenName" >
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="txt__OldPassword" placeholder="*Correo electrónico" formControlName="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" id="txt__OldPassword" placeholder="Teléfono" formControlName="phone" >
                </div>
                 <button type="submit" class="btn btn-block btn-lg btn-primary">Guardar</button>
                 </form>
               </div>
                  <div class="row set-top-row">
                  <div class="col-xs-4 col-sm-3"></div>
                  <div class="col-xs-4 col-sm-6 center-block text-center">
                        <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-danger"> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong class="uppercase"> {{msg}} </strong>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-3"></div>
              </div>
                <div class="row set-top-row">
                  <div class="col-xs-4 col-sm-3"></div>
                    <div class="col-xs-4 col-sm-6 center-block text-center">
                        <div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-success">
                      <strong class="uppercase"> {{msg}} </strong>
                    </div>
                    </div>
                  <div class="col-xs-4 col-sm-3"></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <form [formGroup]="passForm" (ngSubmit)="resetPass()">
                <div class="form-group">
                  <label for="txt__OldPassword">Actual contraseña</label>
                  <input type="password" class="form-control" id="txt__OldPassword" placeholder="Actual contraseña" formControlName="oldpass" required>
                </div>
                <div class="form-group">
                  <label for="txt__NewPassword">Nueva contraseña</label>
                  <input type="password" class="form-control" id="txt__NewPassword" placeholder="Nueva contraseña" formControlName="pass" required>
                </div>
                <div class="form-group">
                  <label for="txt__ConfirmPassword">Confirmar nueva contraseña</label>
                  <input type="password" class="form-control" id="txt__ConfirmPassword" placeholder="Confirmar nueva contraseña" formControlName="passSnd" required>
                </div>
                <button type="submit" class="btn btn-block btn-lg btn-primary">Guardar cambios</button>
              </form>
              <div class="row set-top-row">
                  <div class="col-xs-4 col-sm-3"></div>
                  <div class="col-xs-4 col-sm-6 center-block text-center">
                        <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-danger2"> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong class="uppercase"> {{msg}} </strong>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-3"></div>
              </div>
                <div class="row set-top-row">
                  <div class="col-xs-4 col-sm-3"></div>
                    <div class="col-xs-4 col-sm-6 center-block text-center">
                        <div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-success2">
                      <strong class="uppercase"> {{msg}} </strong>
                    </div>
                    </div>
                  <div class="col-xs-4 col-sm-3"></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="id-oficial">    
                <div class="row set-top-row">
                <div class="col-xs-4 col-sm-3"></div>
                <div class="col-xs-4 col-sm-6 center-block text-center">
                    <i class="material-icons icon-size" >attach_file</i><input id="upload-file" type="file"/>
                    <a id="fileupload" (click)="uploadFile()" >Añadir archivo</a>
                </div>
                <div class="col-xs-4 col-sm-3"></div> 
                </div>   
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>