body{
    background-color: #f5f6f6;
}
.align-hor{
	display: flex;
}
.center-content{
	display: flex;
	justify-content: center;
}  
.picture-size{
	margin-bottom: 2em;
	width: 13em;
	height: 13em;
	border: 1px solid;
}
#fileupload{
	cursor: pointer;
}
#upload-image{
    display: none;
}​
#upload-file{
    display: none;
}​
input[type="file"]{
	display: none !important;
}