<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
	          <h2>{{title}}</h2>
	    </div>
    	<div class="container-fluid">
    	<form [formGroup]="rinForm" (ngSubmit)="onCreate()">

			<div class="col-xs-10 col-sm-5 col-xs-offset-1">

	            <div class="row set-top-row">
	                <div class="col-xs-10 col-xs-offset-1">
	                  	<input type="text" name="name" placeholder="*Nombre" class="form-control" id="rin-name" formControlName="name" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-10 col-xs-offset-1">
	                	<h3>Severidad</h3>
	                </div>
	            </div>
				<div class="row set-top-row">
					<div class="col-xs-5 col-xs-offset-1" formArrayName="severity">
		        		<div *ngFor="let sev of severities; let i=index">
							<div class="col-xs-12">
								<div class="row set-top-row">
				                    <div class="col-xs-12"> 
				                       	<input type="checkbox" name="severity" value="{{ sev.name }}" checked (click)="checkedSeverity(i)"> {{ sev.name }}
				                    </div>
								</div>
		                    </div>
		        		</div>
	        		</div>
	      		</div>

	            <div class="row set-top-row">
	                <div class="col-xs-5 col-xs-offset-1">
	                	<input type="text" name="severity" placeholder="Agregar severidad" formControlName="severity" class="form-control" maxlength="100">
	                </div>
	                <div class="col-xs-5">
	                	<input (click)="addSeverity()" class="btn btn-create-purple" type="button" name="addSeverity" value="Agregar severidad">
	                </div>
	            </div>

				<div class="row set-top-row">
	                <div class="col-xs-10 col-xs-offset-1">
	                	<h3>Tipo de defecto</h3>
	               	</div>
	            </div>

	            <div class="row set-top-row">
					<div class="col-xs-5 col-xs-offset-1" formArrayName="type_defect">
		        		<div *ngFor="let defect of defects; let i=index">
							<div class="col-xs-12">
								<div class="row set-top-row">
				                    <div class="col-xs-12"> 
				                       	<input type="checkbox" name="defect" value="{{ defect.name }}" checked (click)="checkedDefect(i)"> {{ defect.name }}
				                    </div>
								</div>
		                    </div>
		        		</div>
	        		</div>
	      		</div>

	            <div class="row set-top-row">
	                <div class="col-xs-5 col-xs-offset-1">
	                	<input type="text" name="type_defect" placeholder="Agregar tipo de defecto" formControlName="type_defect" class="form-control" maxlength="100">
	                </div>
	                <div class="col-xs-5">
	                	<input (click)="addDefect()" class="btn btn-create-purple" type="button" name="addDefect" value="Agregar tipo de defecto">
	                </div>
	            </div>
			</div>

			<div class="col-xs-10 col-sm-5">
				<div class="row set-top-row">
	                <div class="col-xs-10 col-xs-offset-1">
	                	<h3>Estado</h3>
	               	</div>
	            </div>
	            <div class="row set-top-row">
					<div class="col-xs-5 col-xs-offset-1" formArrayName="state">
		        		<div *ngFor="let state of states; let i=index">
							<div class="col-xs-12">
								<div class="row set-top-row">
				                    <div class="col-xs-12"> 
				                       	<input type="checkbox" name="state" value="{{ state.name }}" checked (click)="checkedState(i)"> {{ state.name }}
				                    </div>
								</div>
		                    </div>
		        		</div>
	        		</div>
	      		</div>

	            <div class="row set-top-row">
	                <div class="col-xs-5 col-xs-offset-1">
	                	<input type="text" name="state" placeholder="Agregar estado" formControlName="state" class="form-control" maxlength="100">
	                </div>
	                <div class="col-xs-5">
	                	<input (click)="addState()" class="btn btn-create-purple" type="button" name="addState" value="Agregar estado">
	                </div>
	            </div>
				<!--
	            <div class="row set-top-row">
	                <div class="col-xs-10 col-xs-offset-1">
	                  	<input type="text" name="version" placeholder="Versión" class="form-control" id="rin-version" formControlName="version" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-10 col-xs-offset-1">
	                  	<textarea valuw="comments" placeholder="Comentarios" class="form-control"></textarea>
	                </div>
	            </div>-->
			</div>

            <div class="row set-top-row">
                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3 text-center">
                    <input type="submit" class="btn btn-success" value="Guardar">
                    <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
                </div>
            </div>
      	</form>
    	</div>
    </div>
  </div>
