/* You can add global styles to this file, and also import other style files */
body{
    background-color:#f2f2f2 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.breadcrumb{
    background-color:transparent !important;
    margin-bottom:0px !important;
    padding: 8px 15px 8px 0px !important;
}

h1,h2,h3,h4,h5,h6{
    margin:0 !important;
    padding: 0 !important;
}