<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
			<h2>{{title}}</h2>
	    </div>
    	<div class="container-fluid">
    		<form [formGroup]="matrixForm" (ngSubmit)="onCreate()" enctype="multipart/form-data">
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="text" name="name" placeholder="*Nombre matriz" class="form-control" id="matrix-name" formControlName="name" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="text" name="name_client" placeholder="*Cliente" class="form-control" id="matrix-name_client" formControlName="name_client" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="text" name="name_project" placeholder="*Proyecto" class="form-control" id="matrix-name_project" formControlName="name_project" required maxlength="100">
	                </div>
	            </div>
            	<div class="row set-top-row">
                	<div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                  		<input type="text" name="version" placeholder="*Versión" class="form-control" id="matrix-version" formControlName="version" required maxlength="100">
                	</div>
            	</div>
	            <div class="row set-top-row">
                	<div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="date" name="createdAt" placeholder="*Fecha de emisión" class="form-control" id="matrix-createdAt" formControlName="createdAt" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<textarea name="description" placeholder="Proposito" class="form-control" id="matrix-description" formControlName="description" maxlength="300"></textarea>
	                </div>
	            </div>
	            <!--<div class="row set-top-row">
                	<div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="file" name="file" id="file">
	                </div>
	            </div>-->
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3 text-center">
	                	<input type="hidden" id="created" (click)="created()">
	                    <input type="submit" class="btn btn-success" value="Guardar">
	                    <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
	                </div>
	            </div>
			</form>
    	</div>
    </div>
</div>