<div class="Dashboard">
    <div class="Dashboard__Board--flow">
        <div class="container-fluid">
            <div class="row text-center">
                <h2>{{title}}</h2>
            </div>
            <div class="row set-top-margin">
                <div class="col-xs-6 col-sm-3">
                    <a [routerLink]="['create']"><input type="button" name="" value="Crear Severidad" class="btn btn-success btn-lg"></a>
                </div>
                <div class="col-xs-6 col-sm-3"></div>
            </div>
            <div class="row set-top-margin">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <table class="table" id="data-table">
                            <tr class="titles-prop">
                                <th>Nombre</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                            </tr>
                            <tr *ngFor="let severity of severities; let i=index">
                                <td>{{ severity.name }}</td>
                                <td>{{ severity.status == true ? 'Activo': 'Inactivo'}}</td>
                                <td>
                                    <a [routerLink]="['edit/', severity.id]"><i class="material-icons icon-size">mode_edit</i></a>
                                    <a  href="" (click)="showModal($event,severity.id,i)"><i class="material-icons icon-size">delete</i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
			<div class="row set-top-row">
	            <div class="col-xs-4 col-sm-6 col-offset-xs-4 col-offset-sm-3">
	                <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-success"> 
	                	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                	<strong class="uppercase"> {{msg}} </strong>
	              	</div>
	            </div>
	        </div>
	        <div class="row set-top-row">
	          	<div class="col-xs-4 col-sm-6 col-offset-xs-4 col-offset-sm-3">
					<div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-danger">
	              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	              		<strong class="uppercase"> {{msg}} </strong>
	            	</div>
	             </div>
	        </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-deactive" style="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-warning">Eliminar</h1>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de eliminar el registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="delete( idDevice )">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
