<div class="Tester">
    <div class="Tester__workflow">
        <div class="container">
            <div class="Tester__board padding-row">
                <div class="col-xs-12 col-lg-12 margin-bottom">
                    <ol class="breadcrumb">
                        <li><a href="#/tester/home/">Inicio</a></li>
                        <li><a href="#/tester/courses/">Cursos</a></li>
                        <li class="active">{{course_detail?.name}}</li>
                    </ol>
                </div>
                <div class="col-xs-12 col-lg-12 margin-bottom">
                    <h2 class="title">
                        {{course_detail?.name}}
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="Course__video">
                        <img id="lesson-video-player" width="100%" height="260" src="{{course_detail?.cover}}">
                    </div>
                    <div class="Course__Description">
                        <p class="text">{{ course_detail?.description }}</p>
                    </div>
                    <div class="Course__Questions">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Preguntas? Dudas? ..."></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sucess">Enviar Pregunta <i class="fa fa-send"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <div class="Lessons">
                        <div class="Lessons__title">
                            <h2>Lecciones</h2>
                        </div>
                        <div class="Lessons__content">
                            <ul class="Lessons__list">
                                <li *ngFor="let lesson of lessons_detail;">
                                    <a href="#/tester/courses/detail/{{course_id}}/lesson/{{lesson.lesson_data.id}}"><i class="fa fa-book"></i> {{lesson.lesson_data.name}} </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>