.Dashboard {
    height: 100vh;
    max-width: 100%;
    /*position: relative;*/
    width: 100%;
}
.Dashboard__Header{
    background-color:white;
    line-height: 70px;
    height: 70px;
    max-width: 100%;  
    width: 100%;
    z-index: 100;
}
.Dashboard__Header--img{
    background: #58b947 url('../../assets/img/figures.png');
    float: left;
    height: 100%;
    text-align: center;
    position: relative;
    width: 268px;
    display: flex;
}
.Dashboard__Header--img img{
    height: 31px;
    width: 190px;
}
.Dashboard__Header--actions{
   /* float:left;
    height: 70px;
    position: relative;
    width: 80%;*/
}
.Dashboard__Header--msg{
    float:left;
    width: auto;
}
.Dashboard__Header--msg h3,
.Dashboard__Header--msg a{
    float: left;
}
.Dashboard__Header--msg a{
    margin-left: 15px;
    margin-top:10px;
}
.Dashboard__Board{
    background-color: #f5f6f6;
    height: 1000px;
    position:relative;
    width: 100%;
    z-index: 100;
}
.Dashboard__Board h4{
    color:white;
    margin:0;
    padding: 20px;
    text-transform: uppercase;
}
.Dashboard__Board--profile{
    background-color: #343335;
    padding: 15px 5px;
    position: relative;
    text-align: center;
}
.Dashboard__Board--profile img{
    border-radius: 100%;
    margin-bottom:10px;
}
.Dashboard__Board--profile p{
    color: white;
    text-transform: capitalize;
    letter-spacing: .9px;
    margin: 0;
}
.Dashboard__Board--menu {
    background-color: #414042;
    float: left;
    height: 100%;
    /*position: relative;*/
    width: 268px;
    z-index: 5;
    position: absolute;
    box-shadow: 3px 10px 10px rgba(51, 51, 51, 0.38);
    -webkit-transform: translate3d(-268px, 0, 0);
    transform: translate3d(-268px, 0, 0);
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.Dashboard__Board--menu ul{
    list-style: none;
   /* height: 100%;*/
    margin:0;
    position:relative;
    padding: 0;
    width: 100%;
}
.Dashboard__Board--menu ul li{
    display: block;
}
.Dashboard__Board--menu ul li a{
    border-left: 5px solid transparent;
    color: white;
    display: block;
    letter-spacing: 1px;
    padding: 20px;
    transition: .2s all ease;
}
.Dashboard__Board--menu ul li a.active{
    background-color: rgba(0,0,0,.2);
    border-left: 5px solid #58b947;
    box-shadow: inset 0px 3px 3px rgba(0,0,0,.1);
    text-decoration: none;
}
.Dashboard__Board--menu ul li a:hover{
    background-color: rgba(0,0,0,.2);
    border-left: 5px solid #58b947;
    text-decoration: none;
    transition: .2s all ease;
}
.Dashboard__Board--menu ul li a i{
    font-size: 1.2em;
    margin-right: 15px;
}
.Dashboard__Board--flow {
    background-color: #f5f6f6;
    float: left;
    height: 100%;
    padding: 35px;
    position: relative;
    width: 100%;
}
input[type="file"]{
    display: none !important;
}