.Tester{
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}
.Tester__header{
    background-color: #58b947;
    padding: 5px 0px;
    line-height: 40px;
    width: 100%;
}
.Tester__header span{
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}
.Tester__actions{
    background-color: #414042;
    position: relative;
    width: 100%;
}
.Tester__profile,
.Tester__nav{
    overflow: hidden;
}
.Tester__profile{
    height: 100%;
    padding: 10px;
    width: 100%;
}
.Tester__profile--img,
.Tester__profile--badges{
    float:left;
    width: 50%;
}
.Tester__profile--img{
    text-align: center;
}
.Tester__profile--img img{
    border:2px solid #222223;
}
.Tester__profile--badges{
    padding-top:0px;
}
.Tester__profile--badges p{
    margin-bottom:5px;
}
.user-badge{
    font-size: 1.2em;
    letter-spacing: 1px;
}
.user-badge a{
    color: #fff;
}
.user-badge a:hover{
    color: #eee;
}
.user-badge i{
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.user-role{
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top:5px;
}
.Tester__nav{
    top:35px;
    height: 100%;
    position: relative;
    width: 100%;
}
.Tester__nav ul{
    font-size:0;
    list-style: none;
    width: 100%;
    padding: 0;
}
.Tester__nav ul li{
    display: inline-block;
    font-size: 16px;
}
.Tester__nav ul li a{
    border-bottom: 2px solid transparent;
    color: #fff;
    display: block;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 20px;
    text-transform: uppercase;
    transition: .3s all ease;
}
.Tester__nav ul li a:hover{
    background-color: rgba(0,0,0,.1);
    border-bottom: 2px solid #f0ad4e; 
    text-decoration: none;
    transition: .3s all ease;
}
.Tester__nav ul li a.active{
    background-color: rgba(0,0,0,.1);
    border-bottom: 2px solid #f0ad4e; 
    text-decoration: none;
}

.Tester__workflow {
    background-color: #fff;
    height: auto;
    width: 100%;
}
.Tester__board{
    height: auto;
    max-width: 100%;
}

.Tester__board--header{
    background-image: url('../../img/tester/tester_banner.png');
    background-size: cover;
    height: 450px;
    overflow: hidden;
}

.Tester__card {
    height: 300px;
    position: relative;
    width: 100%;
}
.Tester__card--img {
    float: left;
    height: 100%;
    position: relative;
    width: 60%;
}
.Tester__card--img img {
    max-width: 100%;
    height: 100%;
}
.Tester__card--content{
    float: left;
    position: relative;
    padding: 20px 10px;
    width: 40%;
}
.Tester__card--content h2{
    color: #fff;
    margin:10px 0px;
}
.Tester__card--content p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.Tester__card--links{
    margin:10px 0px;
    position: relative;
}
.Tester__card--links a{
    color:#fff;
    padding: 10px;
    font-size: 16px;
}
.Tester__card--links a:hover{
    background-color: rgba(0,0,0,.1);
    border-radius: 2px;
    text-decoration: none;
}
.Tester__card.red{
    background-color: #d9534f;
}
.Tester__card.blue{
    background-color: #5bc0de;
}
.Tester__card.yellow{
    background-color: #f0ad4e;
}
