body{
	background-color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
}

.Login--image{
	background-image: url('img/fotologin.png');
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
	z-index: 100;
}
.Login--image:after{
	background-color: rgba(88,185,71, 0.5);
	content: '';
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
}
.Login--logo{
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 999;
}
.Login--msg{
	background-color: rgba(0,0,0, 0.2);
	padding: 20px 50px;
	position: absolute;
	top: 200px;
	right: 0px;
	left: 0px;
	z-index: 999;
	width: 100%;
}
.Login--msg h2{
	font-size: 6em;
	color: white;
	position: relative;
	letter-spacing: 1px;
	text-align: right;
	margin:0;
	padding: 0;
}
.Login--form {
	margin-top: 100px;
	position: relative;
	width: 60%;
}

.Login--social figure{
	display: inline-block;
	margin-right: 10px;
}

.btn-register {
    display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
    width: 40%;
}

@media screen and (min-width: 1920px) {
	.Login--form {
		margin-top: 250px;		
	}
	.Login--msg{
		margin-top: 50px;
	}
}
