body{
	background-color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
}

.Register--image{
	background-image: url('img/register.png');
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
}
.Register--image:after{
	background-color: rgba(103,47,117, 0.7);
	content: '';
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
}

.Register--form {
	margin-top: 100px;
	position: relative;
	width: 60%;
}

.Register--social figure{
	display: inline-block;
	margin-right: 10px;
}


@media screen and (min-width: 1920px) {
	.Register--form {
		margin-top: 250px;		
	}
	.Register--msg{
		margin-top: 50px;
	}
}