<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
	          <h2>{{title}}</h2>
	    </div>
	    <div class="container-fluid">
	    	<form [formGroup]="examForm" (ngSubmit)="examCreate()">
			
				<div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
		            <div class="row set-top-row">
						<div class="col-xs-12">
		                	<input type="text" name="name" placeholder="*Nombre" class="form-control" id="exam-name" formControlName="name" required maxlength="100">
		                </div>
		            </div>
		            <div class="row set-top-row">
						<div class="col-xs-12">
		                	<input type="checkbox" name="name"> Agregar respuestas
		                </div>
		            </div>
		            <div class="row set-top-row">
						<div class="col-xs-12">
		                	<input type="checkbox" name="name"> Opciones múltiples
		                </div>
		            </div>


		            <div class="row set-top-row text-center">
		                <input type="submit" class="btn btn-success" value="Guardar">
		                <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
					</div>

		        	<div class="row set-top-row">
		                <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-danger"> 
		              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                	<strong class="uppercase"> {{msg}} </strong>
		              	</div>
		           	</div>

	        		<div class="row set-top-row">
	                	<div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-success">
		              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		              		<strong class="uppercase"> {{msg}} </strong>
		            	</div>
	             	</div>
             	</div>
      		</form>
    	</div>
    </div>
</div>
