<div class="">
  <div class="col-xs-12-col-md-6 col-lg-6 no-padding">
    <div class="Register--image">
      <div class="Login--logo">
        <figure class="figure">
          <img src="/assets/img/gotestingbco.png" alt="">
        </figure>
      </div>
      <div class="Login--msg">
        <h2 class="uppercase bolder">¡Registrate y <br> disfruta!</h2>
      </div>
    </div>
  </div>
  <div class="col-xs-12-col-md-6 col-lg-6">
    <div class="Register--form center-block">
      <h1 class="margin-bottom">¡Registrarme!</h1>
      <form role="form" [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" id="username" placeholder="Tu correo" required>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" class="form-control" id="password" placeholder="Tu contraseña" minlength="8" maxlength="10" required>
          <p class="help-block">Tu contraseña deberá contener al menos 8 caracteres.</p>
        </div>
        <div class="checkbox">
          <label for="agree">
            <input (change)="readTermsAndConditions($event)" type="checkbox" [checked]=false id="agree"> <strong class="uppercase" >Terminos y condiciones</strong>
          </label>
        </div>
        <button type="submit" class="btn btn-purple btn-lg btn-block btn-signup uppercase" disabled>Registrarme</button>
        <div class="alert alert-dismissible margin-top alert-signup" role="alert" style="display:none">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong class="uppercase"> {{msg}} </strong>
          <a class="uppercase" [routerLink]="['/login']">Iniciar Sesión.</a>

        </div>
      </form>
      <div class="row margin-top">
        <h3 class="text-center">Registrarme con redes sociales:</h3>
        <div class="Register--social margin-top text-center">          
          <figure class="figure">
            <img src="/assets/img/FB.png" alt="">
          </figure> 
          <figure class="figure">
            <img src="/assets/img/twit.png" alt="">
          </figure> 
          <figure class="figure">
            <img src="/assets/img/gplus.png" alt="">
          </figure> 
        </div>
      </div>
      <div class="row margin-top">
        <p>¿Ya tienes cuenta?  <a class="uppercase" [routerLink]="['/login']">Iniciar Sesión.</a></p>
      </div>
    </div>
  </div>
</div>
<div id="modal-terms" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body largeScrollable">
        <p>
          {{text}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="acceptTerms($event)">Acepto</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
