body{
    background: red;
}

.btn-profile,
.btn-notifications{
    background-color: transparent !important;
    color: white !important;
    margin-top:2px;
}

.btn-profile:hover,
.btn-notifications:hover{
    background-color: rgba(0,0,0,.2) !important;
}

.btn-notifications{
    margin-right: 5px !important;
}