<div class="Tester">
  <div class="Tester__header">
    <div class="container">
      <div class="pull-left">
        <figure class="figure">
          <a href="#/tester/home/">
            <img src="/assets/img/gotestingbco.png" alt="www.gotesting.com" height="30" draggable="false">
          </a>
        </figure>
      </div>
      <div class="pull-right">
        <!-- Split button -->
        <div class="btn-group">
          
          <!--NOTIFICATIONS BUTTON-->
          <button type="button" class="btn btn-notifications dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell margin-rigth-lg"></i> <span class="badge">3</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Tarea 1</a></li>
            <li><a href="#">Tarea 2</a></li>
            <li><a href="#">Tarea 3</a></li>
            <li><a href="#">Tarea 4</a></li>
            <li><a href="#">Tarea 5</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Ver más</a></li>
          </ul>
        </div>
        
        <div class="btn-group">
          <!--PROFILE BUTTON-->
          <button type="button" class="btn btn-profile dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user margin-rigth-lg"></i> {{userName}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['profile']">Perfil</a></li>
            <li><a [routerLink]="['finantial']"> Datos Bancarios</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="logout()"> Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="Tester__actions">
    <div class="container">
      <div class="col-xs-12 col-md-3 col-lg-3">
        <div class="Tester__profile">
          <div class="Tester__profile--img">
            <figure class="figure">
              <img class="rounded" src="{{testerAvatar}}" alt="" height="80" width="80" draggable="false">
            </figure>
          </div>
          <div class="Tester__profile--badges">
            <p class="user-badge">
              <a href="">  <i class="material-icons">grade</i> 4.5 </a>
            </p>
            <p class="user-badge">
              <a href=""> <i class="material-icons">monetization_on</i> $300.00 </a>
            </p>            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9 col-lg-9 relative">
        <div class="Tester__nav">
          <ul class="pull-right" id="tester__nav">
            <li id="home_nav">
              <a [routerLink]="['home']">inicio</a>
            </li>
            <li id="certification_nav">
              <a  [routerLink]="['certification']">certificación</a>
            </li>
            <li id="capacitation_nav">
              <a [routerLink]="['courses']">cursos</a>
            </li>
            <li id="devices_nav">
              <a [routerLink]="['devices']">dispositivos</a>
            </li>
            <li id="tasks_nav">
              <a [routerLink]="['tasks']">tareas</a>
            </li>
            <li id="banking_nav">
              <a [routerLink]="['finantial']">datos bancarios</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<!--ALERTIFY -->
<div id="alertify" class="alertify bottomRight">
  <div class="icon">
    <!--<i class="fa fa-check"></i>-->
  </div>
  <div class="msg">
    <span><!--Message--></span>
  </div>
</div>