<div class="Dashboard">
    <div class="Dashboard__Board--flow">
    <div class="row text-center">
          <h2>{{title}}</h2>
    </div>
    <div class="container-fluid">
    	<form [formGroup]="deviceForm" (ngSubmit)="onUpdate()">
            <div class="row set-top-row">
                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                  	<input type="text" name="name" placeholder="*Nombre del dispositivo" class="form-control" id="device-name" formControlName="name" required maxlength="100">
                </div>
            </div>
            <div class="row set-top-row">
                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                  	<select class="form-control" formControlName="dev_platform_Id" name="dev_platform_Id" required>
                        <option value="" selected="true">Plataforma</option>
                        <option value="{{ platform.id }}" *ngFor="let platform of platforms; let i = index">{{ platform.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row set-top-row">
                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                  	<select class="form-control" formControlName="dev_category_Id" name="dev_category_Id" required>
                        <option value="" selected="true">Categoria</option>
                        <option value="{{ category.id }}" *ngFor="let category of categories; let i = index">{{ category.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row set-top-row">
                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                  	<select class="form-control" formControlName="dev_producer_Id" name="dev_producer_Id" required>
                        <option value="" selected="true">Fabricante</option>
                        <option value="{{ producer.id }}" *ngFor="let producer of producers; let i = index">{{ producer.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row set-top-row">
                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                  	<select class="form-control" id="device-status" formControlName="status" name="status" required>
	                   	<option value="" selected="true">*[Selecciona Estatus]</option>
	                   	<option value="true">Activo</option>
	               		<option value="false">Inactivo</option>
	                </select>
                </div>
            </div>
            <div class="row set-top-row">
                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3 text-center">
                    <input type="submit" class="btn btn-success" value="Guardar">
                    <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
                </div>
            </div>
	        <div class="row set-top-row">
	            <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-danger"> 
	              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                	<strong class="uppercase"> {{msg}} </strong>
	              	</div>
	           	</div>
	        </div>
        	<div class="row set-top-row">
	            <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                	<div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-success">
	              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	              		<strong class="uppercase"> {{msg}} </strong>
	            	</div>
             	</div>
        	</div>
      	</form>
    </div>
    </div>
  </div>
