<div class="Dashboard">
    <div class="Dashboard__Board--flow">
      <div class="container-fluid">
        <h1>{{title}}</h1>
      </div>
	<div class="main-container container-fluid">
	    <form [formGroup]="dealForm" (ngSubmit)="saveText()">
			<div class="row">
              <div class="col-xs-12 col-sm-12 "><textarea disabled="true" id="description" class="form-control textarea-prop" formControlName="description"></textarea></div>
			</div>
			<div class="row btn-group-row">
				<input type="submit" name="" value="Guardar" class="btn btn-success btn-lg" >
				<input type="button" name="" value="Editar" class="btn btn-success btn-lg" (click)="editText()">
			</div>
	    </form>
	</div>
    </div>
  </div>