<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
	          <h2>{{title}}</h2>
	    </div>
    	<div class="container-fluid">
    	<form [formGroup]="pricingForm" (ngSubmit)="rinCreate()">

			<div class="col-xs-10 col-xs-offset-1">	
	            <div class="row set-top-row">
	                <div class="col-xs-12">
	                  	<input type="text" name="name" placeholder="*Plan" class="form-control" id="pricing-name" formControlName="name" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-12">
	                  	<textarea name="description" placeholder="Descripción" class="form-control" id="pricing-description" formControlName="description" required maxlength="300"></textarea>
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-12">
						<select class="form-control" id="pricing-type" formControlName="type" name="type" required>
			                <option value="" selected="true">*[Selecciona Tipo de Plan]</option>
			               	<option value="monthly">Mensual</option>
			          		<option value="anual">Anual</option>
			          		<option value="unlimited">Ilimitado</option>
						</select>
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-12">
	                  	<input type="number" name="price" placeholder="Costo" class="form-control" id="pricing-price" formControlName="price" required maxlength="10">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-12">
						<select class="form-control" id="pricing-status" formControlName="status" name="status" required>
			                <option value="" selected="true">*[Selecciona Estatus]</option>
			               	<option value="true">Activo</option>
			          		<option value="false">Inactivo</option>
						</select>
	                </div>
	            </div>

	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3 text-center">
	                    <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
	                    <input type="submit" class="btn btn-success" value="Guardar">
	                </div>
	            </div>

		        <div class="row set-top-row">
		            <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
		                <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-danger"> 
		              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                	<strong class="uppercase"> {{msg}} </strong>
		              	</div>
		           	</div>
		        </div>
	        	<div class="row set-top-row">
		            <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                	<div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-success">
		              		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		              		<strong class="uppercase"> {{msg}} </strong>
		            	</div>
	             	</div>
	        	</div>
        	</div>
      	</form>
    	</div>
    </div>
</div>
