
.Lessons{
    border: 1px solid #f1f1f1;
    height: 700px;
    max-height: 700px;
    max-width: 100%;
    width: 100%;
}
.Lessons__title{
    margin-bottom:15px;
    border-bottom: 1px solid #f5f6f6;
    padding: 25px 10px;
}

.Lessons__list{
    list-style: none;
    margin:0;
    padding:0px 10px;
}
.Lessons__list li{
    font-size: 0;
    display: block;
    max-width: 100%;
}
.Lessons__list li a{
    color: #212121;
    display: block;
    font-size: 16px;
    padding: 18px;
    border-bottom: 1px solid #f1f1f1;
}
.Lessons__list li a:hover{
    background-color: #f1f1f1;
}
.Lessons__list li a i{
    margin-right: 5px;
}
.Lessons__content{
    max-height: 700px;
    overflow-y: auto;
}

textarea{
    resize: none;
}

i.youtube{
    color:#b31217;
}

.active-video{
    background-color: #58b947;
    color: white !important;
}
.active-video:hover{
    background-color: #4ea53f;
}