<div class="Tester">
    <div class="Tester__workflow">
        <div class="container">
            <div class="Tester__board padding-row">
                Lecciones
                <div class="col-xs-12 col-lg-12 margin-bottom">
                    <ol class="breadcrumb">
                        <li><a href="#/tester/home/">Inicio</a></li>
                        <li><a href="#/tester/courses/">Cursos</a></li>
                        <li><a href="#/tester/courses/detail/1">Curso nombre</a></li>
                        <li class="active">Leccion</li>
                    </ol>
                </div>
                <div class="col-xs-12 col-lg-12 margin-bottom">
                    <h2 class="title">
                    detalle leccion
                    </h2>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="Course__video">
                        <iframe id="lesson-video-player" type="text/html" width="100%" height="360" src="" frameborder="0"></iframe>
                    </div>
                    <div class="Course__Description">
                        <p class="text">x</p>
                    </div>
                    <div class="Course__Questions">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Preguntas? Dudas? ..."></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sucess">Enviar Pregunta <i class="fa fa-send"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <div class="Lessons">
                        <div class="Lessons__title">
                            <h2>Lecciones</h2>
                        </div>
                        <div class="Lessons__content">
                            <ul class="Lessons__list">
                                <li *ngFor="let video of lesson_media;">
                                    <a href="#" (click)="loadLessonVideo($event)" attr.data-lesson-video="{{video}}"><i class="fa fa-youtube-play youtube"></i> Reproducir video </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>