.Device__card{
    background-color: #fff;
    padding: 25px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.Device__card--device{
    float: left;
    text-align: center;
    width: 50%;
}
.Device__card--device i{
    font-size: 130px;
    vertical-align: middle;
}
.Device__card--content{
    float: left;
    padding:5px;
    width: 50%;
}
.Device__card--actions{
    bottom:0px;
    max-width: 100%;
    padding: 5px 0px;
    width: 100%;
}
.container-identifiquer{
	display: none;
}
.steps-title{
	font-size: 2em;
}