<div class="Tester">

  <div class="Tester__workflow">
    <div class="container">
      <div class="Tester__board padding-row">
        <div class="col-xs-12 col-lg-12 margin-bottom">
            <ol class="breadcrumb">
                <li><a href="#/tester/home/">Inicio</a></li>
                <li class="active">Dispositivos</li>
            </ol>
        </div>
        <div class="col-xs-12 col-lg-12 margin-bottom">
          <h2 class="title">
            {{viewTitle}}
          </h2>
        </div>

        <div class="col-xs-12 col-lg-12 margin-bottom">
          <div class="pull-right">
            <a [routerLink]="['/tester/devices/new']" class="btn btn-primary btn-lg capitalize">
              Agregar dispositivo
            </a>
          </div>
        </div>

        <div *ngIf="deviceEmpty" class="col-xs-12 col-lg-12">
          <div class="alert alert-warning box-msg " role="alert">
              <strong><i class="fa fa-warning"></i></strong> No existen dispositivos agregados en tu cuenta, agrega uno.
          </div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-4 margin-bottom" *ngFor="let device of devices">
          
          <div class="Device__card z-depth-1 hoverable">

            <div class="Device__card--device">
              <i class="material-icons">{{device.device_Id.category_id.type}}</i>
            </div>

            <div class="Device__card--content">
              <p><strong>Device:</strong>  {{device.device_Id.name}}</p>
              <p><strong>Platform:</strong>  {{device.device_Id.platform_id.name}}</p>
              <p><strong>Producer:</strong>  {{device.device_Id.producer_id.name}}</p>
              <p><strong>Ram:</strong>  {{device.ram}}</p>
            </div>

            <div class="Device__card--actions">
              <div class="pull-right">
                <a class="btn btn-warning capitalize" href="#/tester/devices/edit/{{device.id}}">editar</a>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
</div>