<div class="Dashboard">
    <div class="Dashboard__Board--flow">
    <div class="row text-center">
          <h2>{{title}}</h2>
    </div>
    <div class="container-fluid">
      <form [formGroup]="lessonForm" (ngSubmit)="lessonCreate()">
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
              <input type="text" name="" placeholder="*Nombre de lección" class="form-control" id="lesson-name"  maxlength="100" required  formControlName="name">
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
              <textarea rows="6" placeholder="*Descripción" class="form-control" id="lesson-description"  maxlength="300" required  formControlName="description"></textarea> 
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
              <select class="form-control" id="lesson-status" required  formControlName="status">
                  <option value="" selected="true">*[Selecciona Estatus]</option>
                  <option value="1">Activo</option>
                  <option value="0">Inactivo</option>
              </select>
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6 text-center">
              <input type="submit" class="btn btn-success" value="Guardar">
              <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
      <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
                  <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-danger"> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong class="uppercase"> {{msg}} </strong>
              </div>
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        <div class="row set-top-row">
          <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
                <div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-success">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong class="uppercase"> {{msg}} </strong>
            </div>
             </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        </form>
    </div>
    </div>
  </div>
