.Device__card{
    background-color: #fff;
    padding: 25px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.Device__card--device{
    float: left;
    text-align: center;
}
.Device__card--device i{
    font-size: 150px;
    vertical-align: middle;
}

