<div class="Tester">
  <div class="Tester__workflow">
    <div class="container">
      <div class="Tester__board padding-row">
        <div class="col-xs 12 col-lg-12 margin-bottom">
            <h1 class="section-title capitalize margin-bottom">
                agregar dispositivo
            </h1>
            <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                <i class="material-icons icon-xl">smartphone</i>
                <div class="radio">
                    <label>
                        <input name="deviceRd" type="radio"> Smartphone
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 text-center">  
                <i class="material-icons icon-xl">desktop_mac</i>
                <div class="radio">
                    <label>
                        <input name="deviceRd" type="radio"> Desktop
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                <i class="material-icons icon-xl">tablet_mac</i>
                <div class="radio">
                    <label>
                        <input name="deviceRd" type="radio"> Tablet
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 margin-bottom">

                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="txt__DeviceName">Device name</label>
                        <input type="text" class="form-control" id="txt__DeviceName" placeholder="Device name">
                    </div>
                    <div class="form-group">
                        <label for="txt__DevicePlatform">Device Platform</label>
                        <input type="text" class="form-control" id="txt__DevicePlatform" placeholder="Password">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="txt__DeviceProducer">Producer</label>
                        <input type="text" class="form-control" id="txt__DeviceProducer" placeholder="Device Producer">
                    </div>
                    <div class="form-group">
                        <label for="txt__DeviceRam">Memory Ram</label>
                        <input type="text" class="form-control" id="txt__DeviceRam" placeholder="Memory Ram">
                    </div>
                </div>
                <div class="col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="txt__DeviceUUID">UUID</label>
                        <input type="text" class="form-control" id="txt__DeviceUUID" placeholder="UUID">
                    </div>
                </div>
                 <div class="col-xs-12 col-lg-12">
                    <a [routerLink]="['/tester/devices']" class="btn btn-danger capitalize">
                        cancelar
                    </a>
                    <button class="btn btn-primary capitalize">
                        Guardar
                    </button>
                </div>
       
        </div>
      </div>
    </div>
  </div>
</div>