<div class="Tester">
 <!-- <div class="Tester__header">
    <div class="container">
      <div class="pull-left">
        <figure class="figure">
          <img src="src/assets/img/gotestingbco.png" alt="www.gotesting.com" height="40">
        </figure>
      </div>
      <div class="pull-right">
        <span class="welcomeMsg">
          ¡Welcome Omar Martinez!
        </span>
        <button (click)="logout()" class="btn btn-default" style="margin-top:-4px;">
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
  <div class="Tester__actions">
    <div class="container">
      <div class="col-xs-12 col-md-3 col-lg-3">
        <div class="Tester__profile">
          <div class="Tester__profile--img">
            <figure class="figure">
              <img class="rounded z-depth-1" src="src/assets/img/tester.jpg" alt="" height="80" width="80">
            </figure>
            <p class="user-role">Tester</p>
          </div>
          <div class="Tester__profile--badges">
            <p class="user-badge">
              <a href=""><i class="material-icons">turned_in</i> Free </a>
            </p>
            <p class="user-badge">
              <a href="">  <i class="material-icons">grade</i> 4.5 </a>
            </p>
            <p class="user-badge">
              <a href=""> <i class="material-icons">monetization_on</i> $300.00 </a>
            </p>            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9 col-lg-9 relative">
        <div class="Tester__nav">
          <ul>
            <li>
              <a [routerLink]="['/tester/']">home</a>
            </li>
            <li>
              <a [routerLink]="['/tester/certification']">certification</a>
            </li>
            <li>
              <a [routerLink]="['/tester/capacitation']">capacitation</a>
            </li>
            <li>
              <a class="active" [routerLink]="['/tester/devices']">devices</a>
            </li>
            <li>
              <a [routerLink]="['/tester/tasks']">tasks</a>
            </li>
            <li>
              <a [routerLink]="['/tester/profile']">profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>-->

  <div class="Tester__workflow">
    <div class="container">
      <div class="Tester__board padding-row">
        <div class="col-xs-12 col-lg-12 margin-bottom">
          <div class="pull-right">
            <a [routerLink]="['/tester/devices/new']" class="btn btn-primary btn-lg capitalize">
              add device
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 margin-bottom">
          <div class="Device__card z-depth-1 hoverable">
            <div class="Device__card--device">
              <i class="material-icons">smartphone</i>
            </div>
            <div class="Device__card--content">
              <p><strong>Device:</strong>  iPad Pro</p>
              <p><strong>Platform:</strong>  iOs 10</p>
              <p><strong>Producer:</strong>  LLLLLL</p>
              <p><strong>Ram:</strong>  2GB</p>
            </div>
            <div class="Device__card--actions">
              <div class="pull-right">
                <button class="btn btn-danger capitalize">delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 margin-bottom">
          <div class="Device__card z-depth-1 hoverable">
            <div class="Device__card--device">
              <i class="material-icons">tablet_mac</i>
            </div>
            <div class="Device__card--content">
              <p><strong>Device:</strong>  iPad Pro</p>
              <p><strong>Platform:</strong>  iOs 10</p>
              <p><strong>Producer:</strong>  LLLLLL</p>
              <p><strong>Ram:</strong>  2GB</p>
            </div>
            <div class="Device__card--actions">
              <div class="pull-right">
                <button class="btn btn-danger capitalize">delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 margin-bottom">
          <div class="Device__card z-depth-1 hoverable">
            <div class="Device__card--device">
              <i class="material-icons">desktop_mac</i>
            </div>
            <div class="Device__card--content">
              <p><strong>Device:</strong>  iPad Pro</p>
              <p><strong>Platform:</strong>  iOs 10</p>
              <p><strong>Producer:</strong>  LLLLLL</p>
              <p><strong>Ram:</strong> 2GB</p>
            </div>
            <div class="Device__card--actions">
              <div class="pull-right">
                <button class="btn btn-danger capitalize">delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>