<div class="Dashboard">
  <div class="Dashboard__Header z-depth-2">

    <div class="Dashboard__Header--img">
      <div menu-trigger id="menu-trigger" class="" (click)="showMenu()">
          <div class="line-wrap">
              <div class="line top"></div>
              <div class="line center"></div>
              <div class="line bottom"></div>
          </div>
      </div>
      <figure class="figure">
        <img src="src/assets/img/gotestingbco.png" alt="www.gotesting.com">
      </figure>
    </div>
    <div class="Dashboard__Header--actions">
        <div class="pull-right pull-right-container">
          <div class="Dashboard__Header--msg">
            <h3>¡Bienvenido {{userName}}!</h3>
            <a class="btn btn-purple btn-lg" role="button" (click)="logout()">Salir</a>
          </div>
        </div>
    </div>
  </div>
  <div class="Dashboard__Board">
    <div class="Dashboard__Board--menu" id="sidebar">
      <div class="Dashboard__Board--profile">
        <figure class="figure">
          <img src="src/assets/img/admin.jpg" alt="www.gotesting.com" width="150" height="150">
        </figure>
        <p class="text">{{ userName }} </p>
        <p class="text thin">{{userRole}}</p>
      </div>
      <ul>
        <li>
          <a (click)="toLocation('home')">
            <i class="material-icons">home</i> Bienvenido
          </a>
        </li> 
          <li> 
          <a (click)="toLocation('levels')">
            <i class="material-icons">today</i> Niveles
          </a>
        </li>
        <li>
          <a (click)="toLocation('lessons')">
            <i class="material-icons">today</i> Lecciones
          </a>
        </li>
        <li>
          <a (click)="toLocation('platforms')">
            <i class="material-icons">today</i> Plataformas
          </a>
        </li>
         <li>
          <a (click)="toLocation('courses')">
            <i class="material-icons">today</i> Cursos
          </a>
        </li>
        <li class="sub-menu">
          <!--<a [routerLink]="['settings']" >-->
            <a (click)="toLocation('agreements')">
            <i class="material-icons">settings</i> Acuerdos </a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
