<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
			<h2>{{title}}</h2>
	    </div>

    	<div class="container-fluid">
    	<form [formGroup]="matrixForm" (ngSubmit)="onEdit()">
        	<div *ngIf="!step">
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="text" name="name" placeholder="*Nombre matriz" class="form-control" id="matrix-name" formControlName="name" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="text" name="name_client" placeholder="*Cliente" class="form-control" id="matrix-name_client" formControlName="name_client" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="text" name="name_project" placeholder="*Proyecto" class="form-control" id="matrix-name_project" formControlName="name_project" required maxlength="100">
	                </div>
	            </div>
            	<div class="row set-top-row">
                	<div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                  		<input type="text" name="version" placeholder="*Versión" class="form-control" id="matrix-version" formControlName="version" required maxlength="100">
                	</div>
            	</div>
	            <div class="row set-top-row">
                	<div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<input type="date" name="createdAt" placeholder="*Fecha de emisión" class="form-control" id="matrix-createdAt" formControlName="createdAt" required maxlength="100">
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3">
	                  	<textarea name="description" placeholder="Proposito" class="form-control" id="matrix-description" formControlName="description" maxlength="300"></textarea>
	                </div>
	            </div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3 text-center">
	                    <input type="submit" class="btn btn-success" value="Guardar">
			            <input type="button" class="btn btn-success" value="Requerimientos" (click)="nextStep(1)" *ngIf="!file">
			            <a href="{{ fileUrl}}" target="_blank">
			            	<input type="button" class="btn btn-success" value="Descargar archivo" *ngIf="file">
			            </a>
	                    <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
	                </div>
	            </div>
        	</div>
		</form>

		<!--PANEL 2 -->
    	<form [formGroup]="reqForm" (ngSubmit)="createReq()">
    		<div class="row" *ngIf="step">
				<div class="col-xs-8 col-xs-offset-2 panel panel-default">
					<table class="table" id="data-table">
						<tr class="titles-prop">
							<th>Requerimiento</th>
							<th>Importancia</th>
							<th>Estatus</th>
							<th>Acciones</th>
						</tr>
						<tr *ngFor="let req of requeriments; let i=index">
							<td>{{ req.name }}</td>
							<td>{{ req.value }}</td>
							<td>{{ req.status }}</td>
							<td>
								<a  href="" (click)="showModal($event, req.id, i)"><i class="material-icons icon-size">delete</i></a>
							</td>
						</tr>
					</table>
				</div>
    		</div>
			<div class="row" *ngIf="step">
				<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-2">
			        <div class="row set-top-row">
			            <div class="col-xs-12">
			               	<input type="text" name="name" placeholder="Requerimiento" class="form-control" id="req-name" formControlName="name" required maxlength="100">
			            </div>
			        </div>
					<div class="row set-top-row">
		            	<div class="col-xs-12">
		                	<textarea name="objetive" placeholder="Objetivo" class="form-control" id="req-objetive" formControlName="objetive" maxlength="300"></textarea>
		                </div>
			        </div>
					<div class="row set-top-row">
			          	<div class="col-xs-12">
			               	<input type="number" name="number_va" placeholder="Numero de casos" class="form-control" id="req-number-va" formControlName="number_va" required>
			            </div>
	           		</div>
					<div class="row set-top-row">
			           	<div class="col-xs-12">
			               	<textarea name="validation" placeholder="Validación" class="form-control" id="req-validation" formControlName="validation" maxlength="300"></textarea>
		              	</div>
			        </div>
				</div>

				<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
			        <div class="row set-top-row">
			            <div class="col-xs-12">
				            <select class="form-control" id="req-status" formControlName="status" name="status" required>
				               	<option value="" selected="true">*[Selecciona Estatus]</option>
				               	<option value="true">Activo</option>
				          		<option value="false">Inactivo</option>
			                </select>
		                </div>
					</div>
					<div class="row set-top-row">
			           	<div class="col-xs-12">
			               	<input type="text" name="value" placeholder="Importancia" class="form-control" id="req-value" formControlName="value" required maxlength="100">
			            </div>
			        </div>
			        <div class="row set-top-row">
			          	<div class="col-xs-12">
			                <textarea name="pre_condition" placeholder="Pre-condición" class="form-control" id="req-precondition" formControlName="pre_condition" maxlength="300"></textarea>
			            </div>
			        </div>
			        <div class="row set-top-row">
			          	<div class="col-xs-12">
			               	<textarea name="post_condition" placeholder="Pos-condición" class="form-control" id="req-postcondition" formControlName="post_condition" maxlength="300"></textarea>
		               	</div>
			        </div>
			        <div class="row set-top-row">
			            <div class="col-xs-12">
			                <textarea name="observation" placeholder="Observaciones" class="form-control" id="req-observation" formControlName="observation" maxlength="300"></textarea>
			            </div>
			        </div>
		        </div>
				<div class="row set-top-row ptop-20 clearfix">
			        <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3 text-center">
			            <input type="submit" class="btn btn-success" value="Agregar requerimiento">
		                <input type="button" class="btn btn-success" value="Anterior" (click)="nextStep(0)">
		            </div>
				</div>
	        </div>
      	</form>
    	</div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal-deactive" style="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-warning">Eliminar</h1>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de eliminar el registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteReq( idReq )">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->