<div class="">
  <div class="col-xs-12-col-md-6 col-lg-6 no-padding">
    <div class="Login--image">
      <div class="Login--logo">
        <figure class="figure">
          <img src="/assets/img/gotestingbco.png" alt="">
        </figure>
      </div>
      <div class="Login--msg">
        <h2 class="uppercase bolder">¡Un gusto vernos <br> nuevamente!</h2>
      </div>
    </div>
  </div>
  <div class="col-xs-12-col-md-6 col-lg-6">
    <div class="Login--form center-block">
      <h1 class="margin-bottom">Iniciar Sesión</h1>
      <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" id="username" placeholder="Correo Electrónico" required>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña" required>
        </div>
        <div class="checkbox pull-left" style="margin-top:5px;">
          <label>
            <input type="checkbox"> <strong class="capitalize">Recordarme</strong>
          </label>
        </div>
        <p class="help-block pull-right">
          <a href="#" (click)="forgotPassword($event)">
            ¿Olvidaste tu contraseña?
          </a>
        </p>
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-login capitalize">Iniciar Sesión</button>
        <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none">
        
          <strong class="uppercase"> {{msg}} </strong>
        </div>
      </form>
      <div class="row margin-top">
        <h3 class="text-center">Ingresar con redes sociales</h3>
        <div class="Login--social margin-top text-center">          
          <figure class="figure">
            <img src="/assets/img/FB.png" alt="">
          </figure> 
          <figure class="figure">
            <img src="/assets/img/twit.png" alt="">
          </figure> 
          <figure class="figure">
            <img src="/assets/img/gplus.png" alt="">
          </figure> 
        </div>
      </div>
      <div class="row margin-top">
        <a class="btn btn-lg btn-purple capitalize btn-register" [routerLink]="['/signup']">Registrarme</a>
      </div>
    </div>
  </div>
</div>
<div id="modal-launcher"></div>
<div class="modal fade" id="modal-password" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title text-warning">¡Restablecer contraseña!</h1>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="resetForm" (ngSubmit)="resetPassword()" >
            <div class="form-group">
                <label for="txt__Email">Restablecer mi contraseña</label>
                <input type="email" formControlName="email" class="form-control" id="txt__Email" placeholder="Correo Electrónico" required>
            </div>
            <p class="help-block text-center">
                Te enviaremos un correo electrónico con tu nueva contraseña.
            </p>
            <p>
                <button type="submit" class="btn btn-warning btn-lg btn-block uppercase">
                    Enviar
                </button>
            </p>
            <div class="alert alert-dismissible margin-top alert-password" role="alert" style="display:none">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong class="uppercase"> {{msgPassword}} </strong>
            </div>
        </form>
      </div>
      <div class="modal-footer"> </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->