.alertify{
    background-color: #999;
    border: 1px solid #f5f6f6;
    border-radius:2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 1.2em;
    padding: 15px 10px; 
    position: fixed;
    z-index: 999;
    max-width: 400px;
    overflow: auto;
    transition: .4s all ease;
}

.alertify div.icon{
    color:#f5f6f6;
    float:left;
    line-height: 1.2em;
    width: 10%;
}

.alertify div.icon i{
    font-size: 1.4em;
    line-height: 1.2em;
    margin-top:10px;
    margin-right: 10px;
    vertical-align: middle;
}

.alertify div.msg{
    color:#f5f6f6;
    float:left;
    max-height: 150px;
    overflow: auto;
    width: 85%;
}


/**** ALERT POSITION ****/
.alertify.bottomLeft.active{
    bottom:-100%;
    left:25px;
    transition: .4s all ease;
}
.alertify.bottomLeft.active{
    left:25px;
    bottom: 25px;
}


.alertify.bottomRight{
    bottom:-100%;
    right: 25px;
    transition: .4s all ease;
}
.alertify.bottomRight.active{
    bottom:25px;
    right: 25px;
}

.alertify.topRight{
    top: -100%;
    right: 25px;
    transition: .4s all ease;
}
.alertify.topRight.active{
    top:25px;
    right: 25px;
    transition: .4s all ease;
}

.alertify.topLeft.active{
    top:-100%;
    left: 25px;
    transition: .4s all ease;
}
.alertify.topLeft.active{
    top:25px;
    left: 25px;
    transition: .4s all ease;
}

/**** ALERT COLOR ****/
.alertify.success{
    background-color: #5cb85c;
    border:1px solid #4cae4c;
}
.alertify.danger{
    background-color: #d9534f;
    border:1px solid #d43f3a;
}
.alertify.warning{
    background-color: #f0ad4e;
    border:1px solid #eea236;
}
.alertify.info{
    background-color: #5bc0de;
    border:1px solid #46b8da;
}