figure{
	margin: 0;
	padding: 0;
}
h1.margin-bottom,
h2.margin-bottom,
h3.margin-bottom,
h4.margin-bottom,
h5.margin-bottom,
h6.margin-bottom{
	margin-bottom: 25px !important;
}
/*
 *	OOCSS
 *	=============
 */
.bolder{
	font-weight: bolder;
}
.capitalize{
	text-transform: capitalize;
}
.text-center{
	text-align: center;
}
.no-padding{
	padding: 0;
}
.margin-top{
	margin-top: 35px;
}
.uppercase {
	text-transform: uppercase;
}
.bold{
	font-weight: 700;
}
.relative{
	position: relative;
}
.rounded{
	border-radius: 100%;
}
.thin{
	font-weight: 300;
}
.largeScrollable{
	height: 500px;
	max-height: 500px;
	overflow: auto;
}
.padding-row{
	padding: 35px 0px;
}
.row.margin-bottom{
	margin-bottom:35px;
}
.margin-rigth-lg{
	margin-right: 10px;
}
.margin-bottom{
	margin-bottom: 35px;
}
.icon-xl{
	font-size: 100px;
}
.truncate {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
/*
 *	SHADOWS MATERIAL DESIGN
 *	=========================
 */
.z-depth-1{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	transition: .2s all ease-in-out;
}
.z-depth-2{
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}	
.z-depth-3{
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.z-depth-4{
	box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}
.z-depth-5{
	box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}

.z-depth-1.hoverable:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
	transition: .2s all ease-in-out;
	-webkit-transform: translate3d(0,-1px,0);
	transform: translate3d(0,-1px,0);
}