/*
 *	BUTTONS
 *	===========
 */
.btn {
	border-radius: 0px;
	border: none;
}

/*
 *	BUTTON PRIMARY
 *	=================
 */

.btn-primary {
	background-color: #58b947;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #4EA63F;
}

.btn-primary:active:focus {
	background-color: #4EA63F;
}

.btn-primary-outline{
	background-color: transparent;
	border:1px solid #4EA63F;
	color: white;
}

.btn-primary-outline:hover,
.btn-primary-outline:active,
.btn-primary-outline:focus{
	background-color: #4EA63F;
}
/*
 *	BUTTON PURPLE
 *	=================
 */
.btn-purple {
	background-color: #672f75;
	color: white;
}
.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
	background-color: #582A64;
	color:white;
}

.btn-purple:active:focus{
	background-color: #582A64;
	color:white;
}

/*
 *	BUTTON WARNING
 *	=================
 */
.btn-warnning {
	background-color: #f0ad4e;
	color: white;
}
.btn-warnning:hover,
.btn-warnning:active,
.btn-warnning:focus {
	background-color: #e4a44a;
	color:white;
}

.btn-warnning:active:focus{
	background-color: #e4a44a;
	color:white;
}



/*
 *	INPUTS
 *	=============
 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"]
input[type="url"], 
input[type="tel"] {
	border-radius: 0px;
}


/*
 *	MODALS
 *	=============
 */
.modal-content{
	border-radius: 0px;
}
.modal-header{
	border-bottom: none;
}
.modal-footer{
	border-top:none;
}

/*
 *	TEXT
 *	===========
 */
.text-warning{
	color : #f0ad4e;
}




