<div class="Dashboard">
    <div class="Dashboard__Board--flow">
      <div class="container-fluid">
        <h1>{{title}}</h1>
      </div>
      <div class="main-container container-fluid">
          <form [formGroup]="termForm" (ngSubmit)="onSubmit()">
            <div class="row set-margin">
                <div class="col-xs-4 col-sm-3 right-text"> Título </div>
                <div class="col-xs-4 col-sm-6 "><input type="text" name="title" class="form-control" formControlName="title" required maxlength="60"></div>
                <div class="col-xs-4 col-sm-3"></div>
            </div>
            <div class="row set-margin">
                <div class="col-xs-4 col-sm-3 right-text"> Contenido </div>
                <div class="col-xs-4 col-sm-6 "><textarea id="summernote" class="form-control text-area-prop" formControlName="description" name="description"></textarea></div>
                <div class="col-xs-4 col-sm-3"></div>
            </div>
        <div class="row set-margin">
              <div class="col-xs-4 col-sm-3"></div>
              <div class="col-xs-4 col-sm-6 text-center">
                <input type="submit" name="" class="btn btn-success btn-lg" value="Aceptar">
                <input type="button" name="" class="btn btn-danger btn-lg" value="Cancelar" (click)="onReturn()">
              </div>
              <div class="clearfix visible-xs-block"></div>
              <div class="col-xs-4 col-sm-3"></div>
        </div>
          </form>
        <div class="row set-top-row">
            <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
                  <div class="alert alert-danger alert-dismissible margin-top alert-login" role="alert" style="display:none"  id="alert-danger"> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong class="uppercase"> {{msg}} </strong>
              </div>
            </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
        <div class="row set-top-row">
          <div class="col-xs-4 col-sm-3"></div>
            <div class="col-xs-4 col-sm-6">
                <div class="alert alert-success alert-dismissible margin-top alert-login" role="alert" style="display:none" id="alert-success">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong class="uppercase"> {{msg}} </strong>
            </div>
             </div>
            <div class="col-xs-4 col-sm-3"></div>
        </div>
          <div class="row"></div>
      </div>
    </div>
  </div>