<div class="Dashboard">
    <div class="Dashboard__Board--flow">
      <div class="container-fluid text-center">
          <h2>{{title}}</h2>
      </div>
      <div class="main-container container-fluid">

                  <!-- Table -->
                    <table class="table">
                        <tr class="titles-prop">
                          <th>Título</th>
                          <th>Fecha de actualización</th>
                          <th>Acciones</th>
                        </tr>
                        <tr >
                          <td>{{term.title}}</td>
                          <td>{{term.updatedAt | dateHour }}</td>
                          <td> 
                              <a [routerLink]="['edit']">
                                <i class="material-icons icon-size">mode_edit</i>
                              </a>
                          </td>
                        </tr>
                    </table>
          <!--<div class="row">
              <div class="col-xs-6 col-sm-4 black-b">
                  <div class="row titles">
                    Terminos y condiciones v1
                  </div>
                  <div class="row normal-text">
                    Nombre de los terminos y condiciones
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 black-b">
                <div class="row titles">
                    Fecha de actualización
                  </div>
                  <div class="row normal-text">
                    31/12/2016
                  </div>
              </div>
              <div class="col-xs-4 col-sm-2 black-b">
                <div class="row titles">
                    Acciones
                  </div>
                  <div class="row center-item">
                    <a [routerLink]="['edit']" ><i class="material-icons icon-size">mode_edit</i></a>
                  </div>
              </div>
          </div>-->
        <!--<div class="row">
              <div class="col-xs-6 col-sm-4 black-b">Terminos y condiciones v1</div>
              <div class="col-xs-6 col-sm-4 black-b">Fecha de actualizacion</div>
              <div class="clearfix visible-xs-block"></div>
              <div class="col-xs-4 col-sm-2 black-b">Acciones</div>
          </div>-->
      </div>
    </div>
  </div>