.black-b{
	border: 1px solid;
}
.main-container{
	margin-top: 1em;
}
.titles{
	padding: .3em;
    font-weight: bolder;
    background-color: #cccccc;
}
.center-item{
	display: flex;
    justify-content: center;
    align-items: center;
}
.normal-text{
	padding: .3em;
}
.icon-size{
	font-size: 2.2em;
}
.center-item a{
	height: 2.1em;
}
.row{
	height: 2.1em;
}
.titles-prop{
	background-color: #672f75;
    color: white;
}