<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
			<h2>{{title}}</h2>
	    </div>
    	<div class="container-fluid">
	    	<div class="row">
				<div class="col-xs-7 col-xs-offset-2">
					<h5> Datos generales </h5>
				</div>
				<div class="col-xs-1">
					<a [routerLink]="['/administrator/matrices/edit/', matrix.id]"><i class="material-icons icon-size">mode_edit</i></a>
				</div>
		    </div>
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 panel panel-default">
					<table class="table" id="data-table">
						<tr class="titles-prop">
							<td>Cliente</td>
							<td>{{ matrix.name_client }}</td>
						</tr>
						<tr class="titles-prop">
							<td>Proyecto</td>
							<td>{{ matrix.name_project }}</td>
						</tr>
						<tr class="titles-prop">
							<td>Versión</td>
							<td>{{ matrix.version }}</td>
						</tr>
						<tr class="titles-prop">
							<td>Fecha de emisión</td>
							<td>{{ matrix.createdAt }}</td>
						</tr>
						<tr class="titles-prop">
							<td>Propósito</td>
							<td>{{ matrix.description }}</td>
						</tr>
					</table>
				</div>
    		</div>

    		<div class="row">
    			<div class="col-xs-7 col-xs-offset-2">
					<h5> Gestion de requerimientos</h5>
				</div>
		    </div>
    		<div class="row">
				<div class="col-xs-8 col-xs-offset-2 panel panel-default">
					<table class="table" id="data-table">
						<tr class="titles-prop">
							<th>Requerimiento</th>
							<th>Objetivo</th>
							<th>Número de va</th>
							<th>Validación</th>
							<th>Estatus</th>
							<th>Importancia</th>
							<th>Pre-condición</th>
							<th>Pos-condición</th>
							<th>Observaciones</th>
						</tr>
						<tr *ngFor="let req of requeriments; let i=index">
							<td>{{ req.name }}</td>
							<td>{{ req.objetive }}</td>
							<td>{{ req.number_va }}</td>
							<td>{{ req.validation }}</td>
							<td>{{ req.status }}</td>
							<td>{{ req.value }}</td>
							<td>{{ req.pre_condition }}</td>
							<td>{{ req.post_condition }}</td>
							<td>{{ req.observation }}</td>
						</tr>
					</table>
				</div>
    		</div>
    	</div>
    </div>
</div>