<div class="Tester">
    <div class="Tester__workflow">
        <div class="container">
            <div class="Tester__board padding-row">
                <div class="col-xs-12 col-lg-12 margin-bottom">
                    <ol class="breadcrumb">
                        <li><a href="#/tester/home/">Inicio</a></li>
                        <li><a href="#/tester/devices/">Dispositivos</a></li>
                        <li class="active">Editar</li>
                    </ol>
                </div>
                <div class="col-xs 12 col-lg-12 margin-bottom">
                    <h1 class="section-title capitalize margin-bottom">
                        Editar dispositivo
                    </h1>
                </div>
                
                <form [formGroup]="deviceForm" (ngSubmit)="saveDevice()">
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Fabricante:</label>
                                <select class="form-control" id="cmbProducer" (change)="onProducerChange($event.target.value)">
                                    <option value="">[Selecciona un fabricante]</option>
                                    <option [ngValue]="producer.id" value="{{producer.id}}" *ngFor="let producer of producers">{{producer.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Dispositivo:</label>
                                <select class="form-control" id="cmbDevice" (change)="onDeviceChange($event.target.value)">
                                    <option value="">[Selecciona un dispositivo]</option>
                                    <option [ngValue]="device.id" value="{{device.id}}" *ngFor="let device of devices">{{device.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txt__DeviceIndetifier">Mac Address:</label>
                                <input type="text" class="form-control" id="txt__DeviceIndetifier" (keyup)="formatMAC($event)" placeholder="Mac Address" formControlName="code" maxlength="17" required>
                                <p class="help-block">Mac Address.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="txt__Ram">Memoria Ram (GB):</label>
                            <input type="text" class="form-control" id="txt__Ram" placeholder="Memoria Ram" formControlName="ram">
                        </div>
                        <div class="form-group">
                            <label for="txt__Storage">Almacenamiento (GB):</label>
                            <input type="text" class="form-control" id="txt__Storage" placeholder="Almacenamiento" formControlName="storage">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success pull-right">Guardar dispositivo</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-danger pull-right">Eliminar dispositivo</button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="col-xs-12 col-lg-12 text-center">
                            <div class="form-group">
                                <i class="material-icons icon-lg" style="font-size:102px">{{deviceImage}}</i>
                            </div>
                            <div class="form-group">
                                <p>Categoría: <strong>{{deviceCategory}}</strong></p>
                            </div>
                            <div class="form-group">
                                <p>Plataforma: <strong>{{devicePlatform}}</strong></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>