<div class="Tester">

  <div class="Tester__workflow">
    <div class="container">
      <div class="Tester__board padding-row">
        <div class="col-xs-12 col-lg-12 margin-bottom">
            <ol class="breadcrumb">
                <li><a href="#/tester/home/">Inicio</a></li>
                <li class="active">Datos bancarias</li>
            </ol>
        </div>
        <div class="col-xs-12 col-lg-12 margin-bottom">
          <h2 class="title">
            {{viewTitle}}
          </h2>
        </div>
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Información de tarjeta</a>
            </li>
            <li role="presentation">
              <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mis tarjetas</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content padding-row">

            <div role="tabpanel" class="tab-pane active" id="home">
              Cuentas    
            </div> <!-- END PROFILE DATA PANEL-->

              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="row">
                    <div class="col-xs-12 col-lg-12 margin-bottom">

                      <div class="col-xs-12 col-md-4 col-lg-4">
                        <img src="/assets/img/paypal.png" alt="">
                      </div>
                      <div class="col-xs-12 col-md-8 col-lg-8">
                        datos de cuenta
                      </div>

                    </div>

                    <div class="col-xs-12 col-lg-12 margin-bottom">

                      <div class="col-xs-12 col-md-4 col-lg-4">
                        <img src="/assets/img/paypal.png" alt="">
                      </div>
                      <div class="col-xs-12 col-md-8 col-lg-8">
                        datos de cuenta
                      </div>

                    </div>
                    <div class="col-xs-12 col-lg-12 margin-bottom">

                      <div class="col-xs-12 col-md-4 col-lg-4">
                        <img src="/assets/img/paypal.png" alt="">
                      </div>
                      <div class="col-xs-12 col-md-8 col-lg-8">
                        datos de cuenta
                      </div>

                    </div>


                </div>

              </div> <!-- END PASSWORD PANEL-->
            </div>
         </div>

      </div>
    </div>
  </div>
</div>