<div class="Tester">
  <!--<div class="Tester__header">
    <div class="container">
      <div class="pull-left">
        <figure class="figure">
          <img src="src/assets/img/gotestingbco.png" alt="www.gotesting.com" height="40">
        </figure>
      </div>
      <div class="pull-right">
        <span class="welcomeMsg">
          ¡Bienvenido Omar Martinez!
        </span>
        <button (click)="logout()" class="btn btn-default" style="margin-top:-4px;">
          Logout
        </button>
      </div>
    </div>
  </div>
  <div class="Tester__actions">
    <div class="container">
      <div class="col-xs-12 col-md-3 col-lg-3">
        <div class="Tester__profile">
          <div class="Tester__profile--img">
            <figure class="figure">
              <img class="rounded z-depth-1" src="src/assets/img/tester.jpg" alt="" height="80" width="80">
            </figure>
            <p class="user-role">Tester</p>
          </div>
          <div class="Tester__profile--badges">
            <p class="user-badge">
              <a href=""><i class="material-icons">turned_in</i> Free </a>
            </p>
            <p class="user-badge">
              <a href="">  <i class="material-icons">grade</i> 4.5 </a>
            </p>
            <p class="user-badge">
              <a href=""> <i class="material-icons">monetization_on</i> $300.00 </a>
            </p>            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9 col-lg-9 relative">
        <div class="Tester__nav">
          <ul>
            <li>
              <a [routerLink]="['/tester/']">Inicio</a>
            </li>
            <li>
              <a class="active" [routerLink]="['/tester/certification']">certificación</a>
            </li>
            <li>
              <a [routerLink]="['/tester/capacitation']">capacitación</a>
            </li>
            <li>
              <a [routerLink]="['/tester/devices']">dispositivos</a>
            </li>
            <li>
              <a [routerLink]="['/tester/tasks']">tareas</a>
            </li>
            <li>
              <a [routerLink]="['/tester/profile']">perfil</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <div class="Tester__workflow">
    <div class="container">
      <div class="Tester__board">
        {{title}}
      </div>
    </div>
  </div>
</div>