<div class="Dashboard">
    <div class="Dashboard__Board--flow">
	    <div class="row text-center">
			<h2>{{title}}</h2>
	    </div>
    	<div class="container-fluid">
    		<form [formGroup]="taskForm" (ngSubmit)="onCreate()">
    			<div class="row set-top-row">
	                <div class="col-xs-5 col-xs-offset-1">
			            <div class="row set-top-row">
			                <div class="col-xs-12">
			                  	<input type="text" name="title" placeholder="*Titulo" class="form-control" id="task-title" formControlName="title" required maxlength="100">
			                </div>
			            </div>
			            <div class="row set-top-row">
			                <div class="col-xs-12">
			                  	<textarea name="description" placeholder="Descripción" class="form-control" id="task-description" formControlName="description" maxlength="300"></textarea>
			                </div>
			            </div>
			            <div class="row set-top-row">
			                <div class="col-xs-12">
			                  	<input type="date" name="start_date" placeholder="*Fecha inicio" class="form-control" id="task-start-date" formControlName="start_date" required maxlength="100">
			                </div>
			            </div>
			            <div class="row set-top-row">
			                <div class="col-xs-12">
			                  	<input type="date" name="end_date" placeholder="*Fecha fin" class="form-control" id="task-end-date" formControlName="end_date" required maxlength="100">
			                </div>
			            </div>
			            <div class="row set-top-row">
			                <div class="col-xs-12">
			                  	<input type="number" name="cost" placeholder="*Remuneración económica" class="form-control" id="task-cost" formControlName="cost" required maxlength="100">
			                </div>
			            </div>
			            
		            </div>
	                <div class="col-xs-5">
	                	<div class="row set-top-row">
			                <div class="col-xs-12">
								<select class="form-control" id="task-platform-id" formControlName="platform_id" name="platform_id" required>
				                   	<option value="" selected="true">*[Selecciona Plataforma]</option>
				                   	<option value="true">Activo</option>
				               		<option value="false">Inactivo</option>
				                </select>
							</div>
						</div>
		                <div class="row set-top-row">
			                <div class="col-xs-12">
				                <select class="form-control" id="task-matrix-test-id" formControlName="matriz_test_Id" name="matriz_test_Id" required>
				                   	<option value="" selected="true">*[Selecciona Matriz]</option>
				                   	<option value="true">Activo</option>
				               		<option value="false">Inactivo</option>
				                </select>
				            </div>
						</div>
		                <div class="row set-top-row">
			                <div class="col-xs-12">
				                <select class="form-control" id="task-template-rin-id" formControlName="template_rin_Id" name="template_rin_Id" required>
				                   	<option value="" selected="true">*[Selecciona RIN]</option>
				                   	<option value="true">Activo</option>
				               		<option value="false">Inactivo</option>
				                </select>
				            </div>
						</div>
	                </div>
				</div>
	            <div class="row set-top-row">
	                <div class="col-xs-4 col-sm-6 col-xs-offset-4 col-sm-offset-3 text-center">
	                	<input type="hidden" id="created" (click)="created()">
	                    <input type="submit" class="btn btn-success" value="Guardar">
	                    <input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
	                </div>
	            </div>
			</form>
    	</div>
    </div>
</div>