<div class="">
  <div class="col-xs-12-col-md-6 col-lg-6 no-padding">
    <div class="activate--image">
      <div class="Login--logo">   
      </div>
      <div class="Login--msg">
        <h2 class="uppercase bolder">¡BIENVENIDO, <br>LISTO PARA EXPLORAR!</h2>
      </div>
    </div>
  </div>
  <div class="col-xs-12-col-md-6 col-lg-6">
      <div class="container-fluid container-activate">
          <p>{{msg}}</p>
           <a class="btn btn-lg btn-orange capitalize btn-register" [routerLink]="['/login']">INICIAR SESIÓN</a>
      </div>
  </div>
</div>
