body{
    position: relative;
}
.activate--image{
	background-image: url('/assets/img/fondo.jpg');
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
	z-index: 100;
}
.btn-orange{
	background-color: #fb923b;
	color: white;
}
.container-activate{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 40vw;
}