  <div class="Tester__workflow">
    <div class="container">
      <div class="Tester__board">
        <div class="row margin-bottom">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="Tester__board--header main-img-testerhome">
            </div>
          </div>
        </div>
        <div class="row margin-bottom">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="Tester__card red z-depth-1 hoverable">
              <div class="Tester__card--img">
                <img src="/assets/img/tester/capacitation.jpg" alt="">                
              </div>
              <div class="Tester__card--content">
                <h2>Capacitation</h2>
                <P>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia provident molestias voluptatum, 
                  corrupti! At natus quis beatae facere possimus quidem eius velit sequi.
                </P>
                <div class="Tester__card--links">
                  <a href="">See all...</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">    
            <div class="Tester__card blue z-depth-1 hoverable">
              <div class="Tester__card--img">
                <img src="/assets/img/tester/capacitation.jpg" alt="">                
              </div>
              <div class="Tester__card--content">
                <h2>Tasks</h2>
                <P>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia provident molestias voluptatum, 
                  corrupti! At natus quis beatae facere possimus quidem eius velit sequi.
                </P>
                <div class="Tester__card--links">
                  <a href="">See all...</a>
                </div>
              </div>              
            </div>            
          </div>
        </div>
        <div class="row margin-bottom">
          <div class="col-xs-12 col-lg-12"> 
            <div class="Tester__card yellow z-depth-1 hoverable">
              <div class="Tester__card--content">
                <h2>Certifications</h2>
                <P>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia provident molestias voluptatum, 
                  corrupti! At natus quis beatae facere possimus quidem eius velit sequi.
                </P>
                <div class="Tester__card--links">
                  <a href="">See all...</a>
                </div>
              </div>
              <div class="Tester__card--img">
                <img src="/assets/img/tester/certifications.png" alt="">                
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>