<div class="Dashboard">
    <div class="Dashboard__Board--flow">
        <div class="container-fluid">
            <div class="row text-center">
                <h2>{{title}}</h2>
            </div>
            <div class="row set-top-margin">
                <div class="col-xs-6 col-sm-3">
                    <a [routerLink]="['create']"><input type="button" name="" value="Crear Matriz de pruebas" class="btn btn-success btn-lg"></a>
                </div>
            </div>
            <div class="row set-top-row">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <p-dataTable [value]="matrices" [rows]="20" [paginator]="true">
						    <p-column field="name" header="Nombre matriz" [filter]="true"></p-column>
						    <p-column field="version" header="Version" [filter]="true"></p-column>
						    <p-column field="createdAt" header="Fecha de emisión" [filter]="true"></p-column>
						    <p-column header="Acciones">
						        <template let-matrix="rowData" pTemplate type="body">
						        	<a [routerLink]="['preview/',  matrix.id]"><i class="material-icons icon-size">pageview</i></a>
                                    <a [routerLink]="['edit/', matrix.id]"><i class="material-icons icon-size">mode_edit</i></a>
                                    <a  href="" (click)="showModal($event, matrix.id, i)"><i class="material-icons icon-size">delete</i></a>
						        </template>
						    </p-column>
						</p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal-deactive" style="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-warning">Eliminar</h1>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de eliminar el registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="delete( idMatrix )">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

