<div class="Dashboard">
    <div class="Dashboard__Board--flow">
    	<div class="row text-center">
          	<h2>{{title}}</h2>
    	</div>
    	<div class="container-fluid">
	      	<form [formGroup]="lessonForm" (ngSubmit)="onCreate()">
	     		<div class="row">
	          		<div class="col-xs-10 col-xs-offset-1"> 
					    <div class="row set-top-row">
					        <div class="col-xs-8 col-xs-offset-2">
					            <input type="text" name="" placeholder="*Nombre de lección" class="form-control" id="lesson-name"  maxlength="100" required  formControlName="name">
					        </div>
					    </div>
					    <div class="row set-top-row">
					        <div class="col-xs-8 col-xs-offset-2">
					            <textarea rows="6" placeholder="*Descripción" class="form-control" id="lesson-description"  maxlength="300" required  formControlName="description"></textarea> 
					        </div>
					    </div>
						<div class="row set-top-row">
					        <div class="col-xs-8 col-xs-offset-2">
					            <select class="form-control" id="lesson-status" required  formControlName="status">
					                <option value="" selected="true">*[Selecciona Estatus]</option>
					                <option value="1">Activo</option>
					                <option value="0">Inactivo</option>
					            </select>
					        </div>
	          			</div>
	          		</div>
				</div>
				<hr>
	          	<div class="row set-top-row">
	          		<div class="col-xs-5 col-xs-offset-1">
	          			<input (click)="addVideo()" class="btn btn-create-purple" type="button" name="addURL" value="Agregar url">
	          		</div>
	          		<div class="col-xs-5">
	          			<h3>Cargar contenido</h3>
	          		</div>
	          	</div>
				
				<div class="row">
					<div class="col-xs-5 col-xs-offset-1" formArrayName="urlArr">
						<div *ngFor="let video of lessonForm.controls.urlArr.controls; let i=index">
							<div class="col-xs-12" [formGroupName]="i">
								<div class="row set-top-row">
				                    <div class="col-xs-9"> 
				                       	<input type="text" name="url" class="form-control" placeholder="Escribe una dirección url" formControlName="url" required>
				                    </div>
				                    <div class="col-xs-2">
				                    	<input type="button" name="removeVideo" (click)="removeVideo(i)" value="X" class="form-control">
				                    </div>
								</div>
								<div class="row set-top-row">
									<div class="col-xs-9 col-sm-9"> 
										<input type="text" name="nameURL" class="form-control" placeholder="Escribe el nombre del video" formControlName="nameUrl" required>
									</div>
								</div>
								<div class="row set-top-row">
									<div class="col-xs-2 col-sm-2">
										<input type="button" name="" value="ver" class="btn btn-create-purple" (click)="toggleVideo(i)">
									</div>
									<div class="col-xs-9 col-sm-9"> 
										<div class="embed-responsive embed-responsive-16by9 features-video" id="video-{{i}}">
											<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OA5hF2gWUwE"></iframe>
										</div>
									</div>
								</div>
		                    </div>
		        		</div>
	        		</div>
	        		<div class="col-xs-5">
						<div class="row set-top-row">
				            <div class="col-xs-12">
				                <input id="file" type="file" name="file" class="form-control" placeholder="Cargar archivo" formControlName="file" required multiple>
				            </div>
		        		</div>
	        		</div>
	      		</div>

	      		<div class="row set-top-row">
	            	<div class="col-xs-10 col-xs-offset-1 text-center">
	              		<input type="submit" class="btn btn-success" value="Guardar">
	              		<input type="button" class="hide" (click)="created()" id="created">
	              		<input type="button" class="btn btn-success" value="Cancelar" (click)="onReturn()">
	            	</div>
	        	</div>
	        </form>
    	</div>
    </div>
</div>