.set-top-margin{
	margin-top: 4em;
}
.titles-prop{
	background-color: #8d7bc9;
    color: white;
}
h2{
	margin: 0;
}
h3{
	color:#000;
}
.set-top-row{
    margin-top: 1em;
}
.features-video{
	display: none;
     -webkit-animation-name: fadeIn;
}
.actived-video{
	display: block;
	 -webkit-animation-name: fadeOut;
}