body {
    background: white;
}
.sub-menu ul{
	display: block;
}
.toggled{
	display: block;
}
.pull-right-container{
    margin-right: 1em;
}
.pull-left-container{
	margin-left: 1em;
}
#menu-trigger {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 70px;
    cursor: pointer;
}
#menu-trigger:before{
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.22);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    z-index: 0;
}
#menu-trigger.open:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.line-wrap {
    width: 18px;
    height: 12px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    margin: 10px 20px;
}
#menu-trigger .line-wrap .line {
    background-color: #fff;
}
.line-wrap .line {
    width: 18px;
    height: 2px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.line-wrap .line.center {
    margin: 3px 0;
}

.open .line-wrap {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.open .line-wrap .line.top {
    width: 12px;
    transform: translateX(8px) translateY(1px) rotate(45deg);
    -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
}

.open .line-wrap .line.bottom {
    width: 12px;
    transform: translateX(8px) translateY(-1px) rotate(-45deg);
    -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
}

.toggled{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
}
/*position: fixed;
background: #fff;
box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
top: 65px;
height: calc(100% - 65px);
-webkit-transform: translate3d(-268px, 0, 0);
transform: translate3d(-268px, 0, 0);
z-index: 5;
width: 268px;
overflow: hidden;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transition: all;
-o-transition: all;
transition: all;
-webkit-transition-duration: 300ms;
transition-duration: 300ms;*/